.data-manage-dashboard {
    font-size: var(--font-size-text);
}

.etat-import .exist {
    color: green;
}

.etat-import .not-exist {
    color: red;
}

.import-tips {
    text-align: left;
}
.import-tips h3 {
    margin-top: 30px;
}

.import-tips .cards {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
}
.import-tips .cards .card {
    border: solid 1px var(--col-gray-border);
    border-radius: 15px;
    box-shadow: 0px 2px 4px #bbb;
    margin: 5px;
    padding: 15px;
    flex: 0 1 max(182px, calc(20% - 1em));
    height: fit-content;
    text-align: center;
}
.import-tips .cards details.tsdetails > summary {
    font-size: var(--font-size-text);
}
.import-tips .cards details.tsdetails li {
    text-align: left;
}

.return-button {
    display: block;
    margin-top: 10px;
    margin-left: 10px;
    width: fit-content;
}
.return-button a {
    color: black;
}

.container-import {
    margin: auto;
    width: 80%;
    /* margin-top: 50px; */
    background: #fff;
    padding: 30px;
    padding-top: 10px;
    box-shadow: 0px 0px 20px 0px #f2f1f1;
    margin-bottom: 20px;
    margin-top: 20px;
    --bs-gutter-x: 0;
    font-size: var(--font-size-text);
}
@media (max-width: 600px) {
    .container-import {
        width: calc(100% - 12px);
    }
}

.loader-data {
    text-align: center;
    width: 120px;
    height: 20px;
    -webkit-mask: linear-gradient(90deg, #000 70%, #0000 0) left/20% 100%;
    background: linear-gradient(#000 0 0) left -25% top 0 /20% 100% no-repeat #ddd;
    animation: l7 1s infinite steps(6);
}
@keyframes l7 {
    100% {
        background-position: right -25% top 0;
    }
}

.import_form {
    padding: 20px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 0.25rem;
}

img.icon-requirements {
    width: 30px;
    margin: 5px;
}
img.icon-optional {
    filter: grayscale(0.85);
    opacity: 0.8;
}
