.non-link {
    text-decoration: none;
    color: inherit;
}

.disabled-item {
    pointer-events: none;
    opacity: 0.4;
}

.import-button {
    display: block;
    margin: auto;
}

.national-results {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0;
    column-gap: 50px;
}

.national-results p {
    font-size: 20px;
}

.national-results .simulator .img,
.national-results .strategy .img {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 20px;
    background-color: white;
    border: 1px solid lightgrey;
    border-radius: 10px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    transition: border-color 0.3s ease;
    width: 120px;
    height: 120px;
    margin: auto;
    margin-bottom: 20px;
}
.national-results .simulator .img img,
.national-results .strategy .img img {
    margin: auto;
    max-width: 80px;
    max-height: 80px;
}

.national-results .simulator .img:hover,
.national-results .strategy .img:hover {
    background-color: #efefefdd;
    border-color: darkgrey;
}

.missing-data {
    padding: 20px;
    font-size: 16px;
    background-color: #ffe9bc;
    margin: 20px;
    border-radius: 10px;
}
