.return-button {
    display: block;
    margin-top: 10px;
    margin-left: 10px;
    width: fit-content;
}

.submit-container {
    display: flex;
    justify-content: space-evenly;
    margin: 24px auto;
}

.header-other-dashboard {
    padding: 30px;
}

.home-page-national {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 32px;
    padding: 16px;
}

.home-page-national .content {
    max-width: 600px;
    font-size: 16px;
    line-height: normal;
    text-align: justify;
}
