.fullViewportWidth {
    width: 100vw;
    left: 50%;
    transform: translateX(-50%);
    position: relative;
    overflow-x: auto;
}

.poiButtons button {
    margin: 0.25em;
}

.poiIconsBlocks {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.poiIconBlock {
    border: 1px solid #c0c0c0;
    border-radius: 10px;
    max-width: 250px;
    padding: 20px;
    margin: 10px;
    text-align: left;
}

.poiLegend img,
.poiLegend object {
    width: 23px;
    max-height: 33px;
}

.poiIconBlock span.poiLegend {
    display: block;
    margin-bottom: 20px;
}
