.LegendOptionContainer {
    display: flex;
    align-items: center;
    margin-bottom: 0.25em;
}

.LegendColorSquare {
    height: 12px;
    flex: 1 0 12px;
    margin-right: 8px;
}

.LegendLabel {
    display: flex;
    align-items: center;
    margin-left: 8px;
    text-wrap: nowrap;
}

.SelectDeselectAll {
    padding: 0;
    margin-top: 0.25em;
    border: none;
    background-color: inherit;
    cursor: pointer;
    display: inline-block;
    color: #666;
    text-decoration: underline;
}

.SelectDeselectContainer {
    color: #666;
    margin-top: 0.25em;
}
