@media screen {
    .only-print {
        display: none !important;
    }
}

@media print {
    .navbar,
    .new-navbar,
    .back-to-map,
    .footer ul,
    .export-tdb-methodo-pdf,
    .do-not-print,
    .legende-modalite input.element-legende-modalites,
    .legende-modalite label.element-legende-modalites:before,
    .legende-modalite label.element-legende-modalites:after,
    .bouton-methodo {
        display: none !important;
    }
    .legende-modalite label.element-legende-modalites {
        padding-left: 0.5em !important;
    }

    .title > h1,
    .description-tableau-bord {
        margin-bottom: 40px !important;
    }

    .widgets {
        top: 10px !important;
    }
    .structure-thematique {
        display: block !important;
    }

    .text-block-show,
    .description-tableau-bord {
        column-count: 3;
        column-width: 17em;
        column-gap: 3em;
    }
    .text-block-show {
        border: 1px solid var(--vert-primary) !important;
    }

    a.no-link-description::after {
        content: "";
    }

    a::after {
        content: " (" attr(href) ")";
        line-break: anywhere;
        font-size: 12px;
    }

    .dashboard-territory-choice {
        break-after: always !important;
    }

    .dashboard-group {
        page-break-before: always;
        break-before: all !important;
        break-inside: avoid !important;
        border: none !important;
    }
    .formulaire-thematique {
        break-inside: avoid !important;
    }

    .only-print {
        margin: auto;
    }
    .only-print a {
        font-size: 12px;
    }

    .footer {
        height: 110px !important;
        border-top: 0px !important;
        position: static !important;
        break-inside: avoid !important;
    }
    .footer .left-logos,
    .footer .right-logos,
    .footer-block {
        float: none !important;
        display: block !important;
        position: static !important;
    }

    .img.only-print.navbar-logo-terristory {
        background-position: center;
    }

    div.territories-are-1 {
        zoom: 85%;
    }
    div.territories-are-2 {
        zoom: 65%;
    }
    div.territories-are-3 {
        zoom: 45%;
    }
}

.background-warning {
    /* Browsers change the white font color if backgrounds are disabled.
    This element will only be visible in that case. */
    font-size: 12pt;
    background-color: white;
    color: white;
}
