/* Animations */

.fade-in-section {
    opacity: 0;
    transform: translateY(6vh);
    transition:
        opacity 0.6s ease-out,
        transform 1.5s ease-out;
    will-change: opacity;
}
.fade-in-section.is-visible {
    opacity: 1;
    transform: none;
}
