/*
TerriSTORY forms. Example usage :
    <form className="tsform" onSubmit={...}>
        <div className="input">
            <label htmlFor="my-text-field">Some label</label>
            <input type="text" id="my-text-field" name="my-text-field" />
        </div>
        <div className="check-input">
            <input type="checkbox" id="my-checkbox" name="my-checkbox" />
            <label htmlFor="my-checkbox">Some other label</label>
        </div>
        <input type="submit" className="tsbtn info big" value="Button label" />
    </form>

Warning : Don't use any <button> inside a <form>. Use <input type="submit"> for the
primary action and <input type="button"> for secondary actions.
*/

.tsform {
    margin: auto;
    background: #fff;
    box-shadow: 0px 0px 20px 0px #eee;
    font-size: var(--font-size-text);
    padding: 16px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 16px;
    max-width: 720px;
}

.input {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    gap: 16px;
    width: 100%;
    border-radius: 6px;
    font-size: 16px;
}

.input label {
    text-align: right;
}
.input.disabled label,
.check-input.disabled label {
    color: var(--col-gray-text);
}

.input input,
.input select,
.input textarea,
.check-input input {
    background: var(--col-gray-bg);
    border: solid 1px var(--col-gray-border);
    border-radius: 4px;
}
.input input[disabled],
.input select[disabled],
.input textarea[disabled],
.check-input input[disabled] {
    border: none;
}
.input input::placeholder {
    color: var(--col-gray-text);
    opacity: 100%;
}

.input > input,
.input > select,
.input > textarea,
.input > .multi-select,
.input > output {
    width: 67%;
}
.input > input,
.input > select {
    height: 32px;
    padding: 0 8px;
}
.input > .multi-select select {
    /* territory selection is also a multi-select */
    min-height: 32px;
}

.input output {
    font-weight: bold;
}

.check-input {
    display: flex;
    justify-content: end;
    align-items: start;
    width: 100%;
}
.check-input.large {
    justify-content: center;
}
.check-input:not(.large) label {
    width: 67%;
}
.check-input input {
    margin-right: 8px;
    width: 16px;
    min-width: 16px;
    height: 16px;
    /* On modern browsers, override default checkbox style without hiding the element nor the focus outline */
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
}
.check-input input:checked {
    background-color: var(--col-info);
    border: none;
}
.check-input input[type="checkbox"]:checked::before {
    display: block;
    content: "\2713";
    width: 16px;
    height: 16px;
    text-align: center;
    font: 12px bold sans-serif;
    color: white;
}
.check-input input[type="radio"] {
    border-radius: 100%;
}
.check-input input[type="radio"]:checked::before {
    display: block;
    content: "";
    width: 6px;
    height: 6px;
    margin: 5px;
    border-radius: 100%;
    background-color: white;
}

.tsform fieldset {
    width: 100%;
    border: solid 1px var(--col-gray-border);
    border-radius: 10px;

    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 4px;

    padding: revert;
}
.tsform fieldset legend {
    font-weight: bold;
    /* Revert some crap added by bootstrap */
    float: revert;
    width: revert;
    font-size: revert;
}
