.home-choice {
    margin: 0 auto;
    max-width: 575px;
    min-width: 250px;
    text-align: center;
    padding-top: 100px;
    font-size: 18px;
}

#franceMap {
    display: block;
    margin-top: 20px;
    margin-bottom: 20px;
}

#franceMap #fond path#france {
    box-sizing: border-box;
    fill: none;
    fill-opacity: 1;
    stroke: #000000;
    stroke-width: 1;
    stroke-dasharray: none;
    stroke-opacity: 1;
}

#franceMap #regions path {
    box-sizing: border-box;
    fill: #ffffff;
    fill-opacity: 1;
    stroke: #000000;
    stroke-width: 0.5;
    stroke-dasharray: none;
    stroke-opacity: 1;
    paint-order: markers fill stroke;
}

#franceMap #regions path.disabled-region,
#franceMap #regions path.disabled-region-without-national {
    fill: #ffffff !important;
    fill-opacity: 0.1 !important;
    stroke-width: 0.5 !important;
}

#franceMap #regions path.disabled-region:hover {
    fill: #c7c7c7 !important;
    fill-opacity: 0.4 !important;
}
#franceMap #regions path.disabled-region-without-national {
    cursor: default;
}

#franceMap #regions path#bretagne {
    fill: #000000;
    stroke-width: 2.1;
}
#franceMap #regions path#bretagne:hover {
    fill: #000000d4;
}

#franceMap #regions path#paysdelaloire {
    fill: #005ea7;
    stroke-width: 2.1;
}
#franceMap #regions path#paysdelaloire:hover {
    fill: #005ea7ee;
}

#franceMap #regions path#nouvelle-aquitaine {
    fill: #189672;
    stroke-width: 2.1;
}
#franceMap #regions path#nouvelle-aquitaine:hover {
    fill: #189672ee;
}

#franceMap #regions path#corse {
    fill: #86a315;
    stroke-width: 2.1;
}
#franceMap #regions path#corse:hover {
    fill: #86a315dd;
}

#franceMap #regions path#occitanie {
    fill: #17b752;
    stroke-width: 2.1;
}
#franceMap #regions path#occitanie:hover {
    fill: #17b752dd;
}

#franceMap #regions path#auvergne-rhone-alpes {
    fill: #007f7b;
    stroke-width: 2.1;
}
#franceMap #regions path#auvergne-rhone-alpes:hover {
    fill: #007f7bee;
}

.about .text-block {
    display: grid;
    grid-template-columns: 1fr 1fr;
    row-gap: 50px;
    column-gap: 50px;
    margin-top: 30px;
    margin-bottom: 30px;
    margin-left: 100px;
    margin-right: 100px;
    padding: 70px;
}

@media screen and (max-width: 1000px) {
    .about .text-block {
        grid-template-columns: 1fr;
    }
}
.about .text-block h1 {
    border-bottom: 3px solid #007f7b99;
    text-align: left;
}
.about .text-block h2 {
    margin-bottom: 15px;
}
.about .text-block img.map {
    width: 90%;
    margin: 20px;
    box-shadow: 2px 2px 20px rgba(0, 0, 0, 0.3);
}

.about .text-block > div {
    margin-top: auto;
    margin-bottom: auto;
}

.about .text-block > div.video iframe {
    margin-top: 25px;
}

.about .text-block > div.video,
.about .text-block > div.whole-width {
    grid-column: 1 / -1;
    text-align: center;
    margin: 0px;
}
.about .text-block > div.whole-width h2 {
    text-align: left;
}

.about .text-block > div ul,
.about .text-block > div ol {
    font-size: 12pt;
}
.about .text-block > div li {
    margin-bottom: 20px;
}

.about .digit {
    font-size: 80px;
    font-weight: bold;
}
.about .digit-s {
    font-size: 60px;
    font-weight: bold;
}
.about .digit-xs {
    font-size: 40px;
    font-weight: bold;
}
.about .return-top {
    font-size: 30px;
    color: #007f7b;
    text-decoration: none;
}
.about .return-top:hover {
    color: #007f7baa;
}

.color1 {
    color: #00a0dd;
}
.color2 {
    color: #f5217a;
}
.color3 {
    color: #84c753;
}
.color4 {
    color: #f7ad4c;
}
.color5 {
    color: #00857d;
}
.color6 {
    color: #f6424a;
}

.btn-france-other-region {
    display: block;
    text-align: center;
    border-radius: 10px;
    background-color: #ffffff;
    border: solid 1px var(--col-gray-border);
    padding: 6px;
    text-decoration: none;
    color: black;
    font-size: 16px;
    margin-bottom: 100px;
}
.btn-france-other-region:hover {
    background-color: rgb(235, 235, 235);
}

.list-modules {
    display: flex;
}

.list-modules > div {
    display: flex;
    flex-direction: column;
    width: 20%;
}
.list-modules > div > * {
    margin: auto;
}
.list-modules > div > label {
    font-size: 18px;
    display: block;
}
.list-modules > div a {
    text-decoration: underline;
    color: black;
}
.list-modules > div > img {
    width: 50px;
}

.about .category-switch {
    font-size: 18px;
}
.about .category-switch .switch {
    margin: 20px;
}
.about .category-switch input + .slider {
    background-color: #007f7b;
}
.about .category-switch input:checked + .slider {
    background-color: #cccccc;
}

.about .not-national {
    color: var(--col-gray-text) !important;
}
.about .text-block.not-national h1 {
    border-bottom: 3px solid #3f848196;
}
.about .not-national .return-top {
    color: #3f848196;
}
.about .not-national .return-top:hover {
    color: #3f848167;
}
.about .not-national img {
    filter: grayscale(0.85);
}
