:root {
    --vert-primary: #007f7b;
    --vert-national: #007f7b;
    --vert-aura-ee: #007f7b;
    --vert-nouvelle-aquitaine: #189672;
    --vert-occitanie: #17b752;
    --vert-france: #007f7b;
    --vert-paysdelaloire: #005ea7;
    --vert-bretagne: #000000;
    --vert-corse: #86a315;

    --font-size-text: 16px;
    --font-size-medium: 18px;
    --font-size-big: 20px;
    --font-size-title: 28px;
    /* Colors, functionnal */
    --col-info: #007eb2;
    --col-success: #598000;
    --col-warning: #f4b131;
    --col-warning-text: #9c6900;
    --col-danger: #df1d1b;
    /* Colors, neutral */
    --col-gray-bg: #eee;
    --col-gray-border: #999;
    --col-gray-text: #666;
}

[data-theme="vert-national"] {
    --vert-primary: var(--vert-national);
}
[data-theme="vert-aura-ee"] {
    --vert-primary: var(--vert-aura-ee);
}
[data-theme="vert-nouvelle-aquitaine"] {
    --vert-primary: var(--vert-nouvelle-aquitaine);
}
[data-theme="vert-occitanie"] {
    --vert-primary: var(--vert-occitanie);
}
[data-theme="vert-occitanie"] {
    --vert-primary: var(--vert-occitanie);
}
[data-theme="vert-paysdelaloire"] {
    --vert-primary: var(--vert-paysdelaloire);
}
[data-theme="vert-bretagne"] {
    --vert-primary: var(--vert-bretagne);
}
[data-theme="vert-corse"] {
    --vert-primary: var(--vert-corse);
}
[data-theme="vert-france"] {
    --vert-primary: var(--vert-france);
}

body,
html {
    font:
        12px "Roboto",
        sans-serif;
    margin: 0px;
    width: 100%;
    height: 100%;
}

.tsbtn {
    display: inline-block;
    border: solid 2px var(--col-gray-border);
    border-radius: 99px;
    min-width: 120px;
    width: fit-content;
    min-height: 32px;
    line-height: 32px;
    padding: 0 16px;
    font-size: var(--font-size-text);
    font-weight: bold;
    text-align: center;
    text-decoration: none;
    color: #000;
    background: none;
}
.tsbtn:hover:not(:disabled) {
    background-color: var(--col-gray-bg);
}
.tsbtn:disabled {
    background-color: var(--col-gray-bg);
    opacity: 0.5;
}
.tsbtn.big {
    font-size: var(--font-size-big);
    min-width: 200px;
    min-height: 40px;
    line-height: 40px;
}
.tsbtn.info {
    color: var(--col-info);
    border-color: var(--col-info);
}
.tsbtn.success {
    color: var(--col-success);
    border-color: var(--col-success);
}
.tsbtn.warning {
    color: var(--col-warning-text);
    border-color: var(--col-warning);
}
.tsbtn.danger {
    color: var(--col-danger);
    border-color: var(--col-danger);
}

span.info {
    color: var(--col-info);
}
span.success {
    color: var(--col-success);
}
span.warning {
    color: var(--col-warning-text);
}
span.danger {
    color: var(--col-danger);
}

@font-face {
    font-family: "CaviarDreams";
    src: url("CaviarDreams_Bold.ttf");
    font-weight: bold;
}

.tstitle {
    font-size: var(--font-size-title);
    font-weight: bold;
    font-family: CaviarDreams, Alata, Arial, sans-serif;
    text-align: center;
    margin: 16px 0;
}
.tstitle::after {
    content: "";
    display: block;
    width: min(50%, 100px);
    height: 4px;
    margin: auto;
    border-radius: 99px;
    background-color: var(--vert-primary);
}
.tstitle.left {
    text-align: left;
}
.tstitle.left::after {
    margin-left: 0;
}

/* Second-level title */
.tstitle2 {
    color: var(--col-info);
    font-size: var(--font-size-big);
    font-weight: bold;
    margin: 24px 0 16px 0;
}

.main-container {
    max-width: 940px;
    margin-left: auto;
    margin-right: auto;
}
code {
    color: inherit;
    background-color: rgba(0, 0, 0, 0.04);
}
img {
    max-width: 100%;
    height: auto;
}
.tabbed-pane {
    padding-top: 12px;
}
.html-widget {
    margin-bottom: 20px;
}

ol,
ul {
    padding-left: 30px;
}

select {
    padding: 5px;
    border-radius: 3px;
    background: #fff;
}

a {
    color: var(--col-info);
}

h2 {
    font-size: 2rem;
}

h3.panel-title {
    height: 35px;
    line-height: 35px;
}

.hidden {
    display: none;
}

.page-content {
    margin: 0 auto;
}

.account h3 {
    margin-top: 20px;
}

.capitalize {
    text-transform: capitalize;
}

.strong {
    font-weight: bold;
}

.italic {
    font-style: italic;
}

p.warning {
    color: red;
}

.tip {
    margin-bottom: 10px;
    display: block;
}

.bottom-spacer {
    margin-bottom: 10px;
}

button.a-like {
    color: var(--vert-aura-ee);
    border: none;
    background: none;
}

.hide {
    display: none;
}

.alert-orange {
    background: #f4b131;
    color: white;
}

.board-row:after {
    clear: both;
    content: "";
    display: table;
}

.status {
    margin-bottom: 10px;
}

.label-alert {
    margin-top: 20px;
    margin-bottom: 20px;
}

.auto-complete-list {
    float: right;
}

.auto-complete input {
    height: 28px;
    width: 244px;
    border: 1px solid #aaa;
    border-radius: 3px;
}
.auth-widget .user-login-form {
    z-index: 9999;
}

.user-password-form {
    border: 1px solid #eee;
    border-radius: 5px;
    margin-top: 5px;
    padding: 10px;
}

.user-password-form label {
    width: 200px;
    text-align: right;
    padding-right: 5px;
}

.auto-complete input {
    float: left;
}

.auto-complete-analysis input {
    width: 200px;
    margin-top: -5px;
}

.square {
    background: #fff;
    border: 1px solid #999;
    float: left;
    font-size: 24px;
    font-weight: bold;
    line-height: 34px;
    height: 34px;
    margin-right: -1px;
    margin-top: -1px;
    padding: 0;
    text-align: center;
    width: 34px;
}

.cross {
    color: green;
}

.round {
    color: red;
}

.kbd-navigation .square:focus {
    background: #ddd;
}

.centered-row {
    width: 100%;
    text-align: center;
}

.account .centered-row {
    padding-bottom: 150px;
}

.block-row {
    display: inline-block;
    padding-left: 10px;
    padding-right: 10px;
    position: relative;
}
.chartjs-render-monitor {
    position: relative;
    z-index: 9999;
}

.btn-save {
    float: right;
    font-size: 10px;
}

.main {
    width: 100%;
    height: 100%;
}

.navbar {
    position: fixed;
    top: 0px;
    height: 60px;
    width: 100%;
    padding: 5px;
    background: rgba(255, 255, 255, 1);
    z-index: 9999;
    border-bottom: 2px solid var(--vert-primary);
    box-shadow: 4px 4px 4px rgba(100, 100, 100, 0.2);
}
.navbar .logo {
    height: 100%;
    margin-left: auto;
    margin-right: auto;
}

.new-navbar {
    position: fixed;
    top: 0px;
    height: 60px;
    width: 100%;
    background: rgba(255, 255, 255, 1);
    z-index: 9999;
    border-bottom: 2px solid var(--vert-primary);
    box-shadow: 4px 4px 4px rgba(100, 100, 100, 0.2);
    display: grid;
    grid-template-columns: 58px 2fr 2fr auto;
    grid-column-gap: 20px;
}

.navbar-auth-widget {
    padding: 5px;
}

.navbar-logo-terristory {
    z-index: 10;
    width: 100%;
    height: 58px;
    min-width: 300px;
    background: rgba(255, 255, 255, 1) url("../img/logo_TerriSTORY_small.png") no-repeat;
    background-position: right;
    background-size: auto 57px;
}

.navbar-logo-diffuseur > div {
    float: left;
}

.navbar-logo-diffuseur {
    z-index: 5;
    padding: 5px;
}

.navbar-logo-diffuseur img {
    max-height: 50px;
}

.pdf-logo {
    position: absolute;
    right: 20px;
}

.pdf-logo img {
    height: 60px;
}

.navbar-vert-nouvelle-aquitaine,
.navbar-logo-terristory-vert-nouvelle-aquitaine,
.pdf-logo-vert-nouvelle-aquitaine {
    background: rgba(255, 255, 255, 1)
        url("../img/logo_TerriSTORY_region_nouvelle_aquitaine_small.png") no-repeat
        center center;
    background-position: right;
    background-size: auto 57px;
}

.navbar-vert-occitanie,
.navbar-logo-terristory-vert-occitanie,
.pdf-logo-vert-occitanie {
    background: rgba(255, 255, 255, 1)
        url("../img/logo_TerriSTORY_region_occitanie.png") no-repeat center center;
    background-size: auto 57px;
    /* background-position: right;*/
}

.navbar-vert-aura-ee,
.navbar-logo-terristory-vert-aura-ee,
.pdf-logo-vert-aura-ee {
    background: rgba(255, 255, 255, 1)
        url("../img/logo_TerriSTORY_region_aura_small.png") no-repeat center center;
    background-position: right;
    background-size: auto 57px;
}

.navbar-vert-paysdelaloire,
.navbar-logo-terristory-vert-paysdelaloire,
.pdf-logo-vert-paysdelaloire {
    background: rgba(255, 255, 255, 1)
        url("../img/logo_TerriSTORY_region_paysdelaloire.png") no-repeat;
    background-position: right;
    background-size: auto 57px;
}

.navbar-vert-bretagne,
.navbar-logo-terristory-vert-bretagne,
.pdf-logo-vert-bretagne {
    background: rgba(255, 255, 255, 1) url("../img/logo_TerriSTORY_region_bretagne.png")
        no-repeat center center;
    background-position: right;
    background-size: auto 57px;
}

.navbar-vert-corse,
.navbar-logo-terristory-vert-corse,
.pdf-logo-vert-corse {
    background: rgba(255, 255, 255, 1) url("../img/logo_TerriSTORY_region_corse.png")
        no-repeat center center;
    background-position: right;
    background-size: auto 57px;
}

.footer {
    position: fixed;
    bottom: 0px;
    height: 110px;
    width: 100%;
    padding: 0px;
    background: rgba(255, 255, 255, 1);
    z-index: 9999;
    border-top: 2px solid var(--vert-primary);
    transition: height 0.3s ease-out;
}

.footer .footer-block {
    float: left;
}

.footer-small {
    height: 20px;
}

.footer .left-logos {
    float: left;
    margin-left: 10px;
    margin-top: 10px;
}

.footer .left-logos img {
    float: left;
    max-height: 60px;
}

.footer .right-logos {
    margin-right: 10px;
    margin-top: 10px;
    position: absolute;
    right: 0;
    top: 0;
}

.footer .right-logos img {
    margin-left: 10px;
    margin-right: 10px;
    max-height: 60px;
}

.footer-small .left-logos {
    margin-top: 20px;
}

.footer-small .right-logos {
    margin-top: 20px;
}

.footer label {
    width: 100%;
}

.footer label,
.navbar-logo-diffuseur label {
    font-style: Italic;
    text-shadow: 2px 2px rgba(100, 100, 100, 0.2);
    margin-right: 5px;
}

.footer label.subtitle {
    text-shadow: none;
    font-size: 10px;
}

/* Footer UL menu styles */
.footer .menu-h {
    padding-top: 30px;
    margin: 0 auto;
    width: 800px;
}

.embedded-footer {
    /* position: fixed; */
    opacity: 80%;
    bottom: 0px;
    height: auto;
    width: 80%;
    padding: 0px;
    background: rgba(255, 255, 255, 1);
    z-index: 9999;
    font-size: 10px;
    display: flex;
    flex-direction: column;
    grid-template-columns: 1fr 1fr;
    margin: 3px;
    clear: both;
    box-shadow:
        0 1px 2px rgba(60, 64, 67, 0.2),
        0 2px 6px 2px rgba(60, 64, 67, 0.15);
    border-radius: 4px;
}

.embedded-footer-close-button {
    position: absolute;
    z-index: -1;
    opacity: 80%;
    left: 81%;
    top: 20px;
    height: 30px;
    width: 20px;
    border: none;
    background: rgb(255, 255, 255);
    box-shadow:
        0 1px 2px rgba(60, 64, 67, 0.2),
        0 2px 6px 2px rgba(60, 64, 67, 0.15);
    border-radius: 0 4px 4px 0;
}

.img-embedded-footer img {
    height: 80px;
}

.embedded-footer-block img {
    max-height: 50px;
}

.embedded-footer-block label {
    width: 100%;
    font-style: Italic;
    text-shadow: 2px 2px rgba(100, 100, 100, 0.2);
    margin-bottom: 5px;
}

.embedded-footer-block label.subtitle {
    text-shadow: none;
    font-size: 10px;
    margin-top: 10px;
}

.bi-caret-left-fill {
    color: var(--vert-primary);
}

.list-simple {
    list-style: none;
}

.menu-h {
    list-style: none;
}

.menu-h li {
    float: left;
    text-transform: uppercase;
    font-weight: bold;
    margin-top: 2px;
    text-align: center;
    padding-right: 10px;
    font-size: 16px;
}

.menu-h li button {
    border: none;
    background: none;
    color: var(--vert-primary);
    cursor: pointer;
    text-transform: uppercase;
    font-weight: bold;
    margin-top: -1px;
}

.menu-h a {
    text-decoration: none;
    color: var(--vert-primary);
}

.footer-small .menu-h {
    padding-top: 0px;
}

#root {
    height: 100%;
    width: 100%;
}

.gamme {
    display: flex;
    flex-direction: row;
}

.gamme .choisir-methode {
    width: min-content;
}

.game-info {
    margin-left: 20px;
}

.map {
    width: 100%;
    height: 100%;
}
.mapContainer {
    width: 100%;
    height: 100%;
}
.mapContainerContent {
    width: 100%;
    height: 100%;
}
.minimapContainerContent {
    width: 300px;
    height: 300px;
    margin-right: 20px;
}

.left-menu,
.left-menu .toggle-panel {
    border: none;
    height: 100vh;
    background-color: #fff;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    padding-bottom: 20px;
    position: absolute;
    top: 0;
    padding-top: 60px;
}

.left-menu .toggle-panel {
    left: 50px;
    box-shadow: 4px 4px 4px rgba(100, 100, 100, 0.2);
    z-index: 99;
    overflow: hidden;
    transition: 250ms;
}

.filter-territoire {
    position: absolute;
    top: 60px;
    /* z-index: 999; */
    width: 535px;
    margin-left: -265px;
    border-radius: 0px;
    left: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    background: #fff;
    border: 1px solid #ccc;
    box-shadow: 4px 4px 4px rgba(100, 100, 100, 0.2);
    border-radius: 0px 0px 10px 10px;
    -moz-transition: width 0.1s ease;
    -webkit-transition: width 0.1s ease;
    -o-transition: width 0.1s ease;
    transition: width 0.1s ease;
}

.filter-territoire select.short {
    height: 28px;
}

.corps-tableau-bord {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.baseline {
    align-items: baseline;
}

.creation-tableaux-bord .filter-territoire {
    box-shadow: none;
    border: none;
}

button.btn-mouvement {
    margin: 4px;
}

.filter-territoire-short {
    width: 290px;
    margin-left: -145px;
}

.relative {
    position: static;
    top: 0px;
    left: 0%;
    margin-left: 0px;
}

.left-menu .filter-territoire select.short {
    max-width: 100px;
}

.left-menu ul.menu {
    list-style: none;
    padding-left: 0px;
    margin-top: 5px;
}

.left-menu ul.menu li {
    width: 50px;
    height: 50px;
    margin-bottom: 5px;
    margin-top: 5px;
}

.left-menu ul.menu li .menu-icon {
    background-color: var(--vert-primary);
    -webkit-mask: no-repeat center center;
    mask: no-repeat center center;
    height: 100%;
}

.left-menu ul.menu li.toggle_on,
.left-menu ul.menu li.toggle_off {
    height: 15px;
}

.left-menu ul.menu li.toggle_on .menu-icon {
    -webkit-mask-image: url("../img/icon_toggle.svg");
    mask-image: url("../img/icon_toggle.svg");
}

.left-menu ul.menu li.toggle_off .menu-icon {
    -webkit-mask-image: url("../img/icon_toggle.svg");
    mask-image: url("../img/icon_toggle.svg");
    transform: rotate(90deg);
}

.left-menu ul.menu li.indicateur .menu-icon {
    -webkit-mask-image: url("../img/icon_indicateur.svg");
    mask-image: url("../img/icon_indicateur.svg");
}

.left-menu ul.menu li.installation .menu-icon {
    -webkit-mask-image: url("../img/icon_installation.svg");
    mask-image: url("../img/icon_installation.svg");
}

.left-menu ul.menu li.analyse .menu-icon {
    -webkit-mask-image: url("../img/icon_analyse.svg");
    mask-image: url("../img/icon_analyse.svg");
}

.left-menu ul.menu li.plan-action .menu-icon {
    -webkit-mask-image: url("../img/icon_plan_action.svg");
    mask-image: url("../img/icon_plan_action.svg");
}

.left-menu ul.menu li.tableaux-bord .menu-icon {
    -webkit-mask-image: url("../img/icon_dashboard.svg");
    mask-image: url("../img/icon_dashboard.svg");
}

.creation-tableaux-bord .choisir-methode {
    min-width: 500px;
}

.creation-tableaux-bord {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-left: auto;
    margin-right: auto;
    width: 80%;
}

.en-tete-thematique {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 5px;
    margin-bottom: 5px;
    background: #eeeeee;
    padding: 5px;
    border-radius: 3px;
    position: relative;
    min-width: 300px;
    width: 100%;
}

.en-tete-thematique > div {
    width: 100%;
}

.en-tete-thematique input,
.en-tete-thematique textarea {
    width: 40%;
}

.en-tete-thematique label {
    vertical-align: top;
    text-align: right;
    margin-right: 10px;
    width: 40%;
}

.structure-thematique {
    display: flex;
    margin-top: 5px;
    flex-wrap: wrap;
    justify-content: space-around;
}

.structure-thematique-creation {
    border: 3px solid #ccc;
}

.en-tete-categorie {
    margin-top: 5px;
    margin-bottom: 5px;
    background: #eeeeee;
    padding: 5px;
    border-radius: 3px;
    position: relative;
    min-width: 300px;
}

.block-categorie {
    border: 1px solid #eee;
    border-bottom: none;
    margin-bottom: 5px;
}

.block-categorie .actions {
    padding: 20px;
}

.block-categorie h4 {
    background: rgb(154, 157, 157);
    width: 100%;
}

.en-tete-sous-categorie {
    margin-top: 5px;
    margin-bottom: 5px;
    background: #d9d8d8;
    padding: 5px;
    border-radius: 3px;
    position: relative;
    min-width: 300px;
}

.en-tete-section {
    margin-top: 5px;
    margin-bottom: 5px;
    background: #d9d8d8;
    padding: 5px;
    border-radius: 3px;
    position: relative;
    min-width: 300px;
    width: 80%;
    display: inline-block;
}

.structure-fiche-didactique {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 60px;
    margin-bottom: 5px;
    margin-top: 70px;
    background: #eeeeee;
    padding: 5px;
    border-radius: 5px;
    /* position: relative; */
    border: 1px solid #5e5d5d;
    color: #3b3838;
}

.structure-fiche-didactique h2 {
    text-decoration: underline;
    font-size: 2.3rem;
    margin: 10px;
}

.structure-fiche-didactique h3 {
    font-size: 1.5rem;
}

.block-categorie-restitution {
    display: flex;
    flex-direction: column;
    margin-bottom: 60px;
    width: 90%;
    text-align: justify;
    font-size: 14pt;
}

.block-categorie-restitution ul {
    text-align: justify;
    margin-left: 50px;
}

.block-categorie-restitution h3::before {
    content: "❖";
    display: inline-block;
    margin-left: 10px;
    margin-right: 5px;
}

.block-categorie-restitution p {
    display: inline-block;
    font-size: 1.75rem;
    margin: 10px;
}

.lien-fiche_didactique {
    display: flex;
    margin-top: 10px;
}

.lien-fiche_didactique a {
    padding: 15px;
    font-size: 1.3em;
    margin: 20px;
}

.dashboard-group {
    margin-bottom: 20px;
    width: 98%;
    display: flex;
    flex-direction: column;
    border-radius: 17px;
    border: solid var(--vert-primary);
}

.didactic-file-section::before {
    content: "➔";
    color: #00a3e1;
    margin: 5px;
}

.structure-thematique .selecteur {
    position: relative;
}

.dashboard-group-title {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    font-size: 12px;
    border-top-right-radius: 10px;
    border-top-left-radius: 10px;
    color: #ffffff;
    background: var(--vert-primary);
}

.dashboard-group-title .wmde-markdown {
    font-weight: 600;
    font-size: 1.25em;
    width: 55%;
    background-color: inherit;
    color: inherit;
    text-align: center;
}

.dashboard-group-title .wmde-markdown a {
    font-size: 1.25em;
    text-decoration: dashed underline;
    color: inherit;
}
.dashboard-group-title .wmde-markdown a:hover {
    text-decoration: underline;
}

.dashboard-group-title h3 {
    font-size: 2rem;
}

.dashboard-group .category-switch {
    display: grid;
    grid-template-columns: 1fr 100px 100px 100px;
    max-width: 500px;
}
.dashboard-group .category-selection {
    display: grid;
    grid-template-columns: 1fr 200px;
    column-gap: 20px;
    text-align: right;
    max-width: 500px;
}

.legende-modalite {
    display: grid;
    grid-template-columns: 20px 1fr;
    min-height: 15px;
    font-size: 14px;
    /* permet de positionner la checkbox */
    position: relative;
    /* align-items: center; */
}

.flex-ligne {
    display: flex;
}

.legende-modalite-suivi-energetique {
    height: 20px;
}

.description-tableau-bord {
    font:
        12px Roboto,
        sans-serif;
    text-align: justify;
}

.depublier-tdb {
    width: 100%;
    margin-top: 3%;
}

.legende-modalite [type="checkbox"]:not(:checked),
.legende-modalite [type="checkbox"]:checked {
    /* Cache la checkbox sans
       la rendre invisible aux
       lecteurs d'écran */
    position: absolute;
    left: 0;
    opacity: 0.01;
}

/* Preparer le label */
.legende-modalite [type="checkbox"]:not(:checked) + label,
.legende-modalite [type="checkbox"]:checked + label {
    position: relative; /* permet de positionner la checkbox */
    padding-left: 2.3em; /* place pour la box */
    cursor: pointer;
}

.legende-modalite [type="checkbox"]:not(:checked) + label::before,
.legende-modalite [type="checkbox"]:checked + label::before {
    content: "";
    position: absolute;
    left: 5px;
    top: 0;
    width: 11px;
    height: 11px;
    border: 1px solid #aaa;
    background: #fff;
    border-radius: 0.2em;
    transition: all 0.275s;
}

.legende-modalite-suivi-energetique [type="checkbox"]:not(:checked) + label::before,
.legende-modalite-suivi-energetique [type="checkbox"]:checked + label::before {
    width: 14px;
    height: 14px;
}

/* Aspect de la coche */
.legende-modalite [type="checkbox"]:not(:checked) + label::after,
.legende-modalite [type="checkbox"]:checked + label::after {
    content: "✓";
    position: absolute;
    top: 0.4em;
    left: 6px;
    font-size: 12px;
    line-height: 0;
}

.legende-modalite-suivi-energetique [type="checkbox"]:not(:checked) + label::after,
.legende-modalite-suivi-energetique [type="checkbox"]:checked + label::after {
    font-size: 14px;
}

.legende-modalite-tableau-bord.marge-element-legende-radar {
    min-width: 0px;
}

.legende-modalite-tableau-bord {
    /* max-width: 150px; */
    min-width: 200px;
    line-height: 1;
}

/* Aspect non cochée */
.legende-modalite [type="checkbox"]:not(:checked) + label::after {
    opacity: 0;
    transform: scale(0) rotate(45deg);
}

/* Aspect cochée */
.legende-modalite [type="checkbox"]:checked + label::after {
    opacity: 1;
    transform: scale(1) rotate(0);
}

.legende-modalite [type="checkbox"]:disabled:not(:checked) + label::before,
.legende-modalite [type="checkbox"]:disabled:checked + label::before {
    box-shadow: none;
    border-color: #bbb;
    background-color: #e9e9e9;
}

/* Disabled checked */
.legende-modalite [type="checkbox"]:disabled:checked + label::after {
    color: #777;
}

.legende-modalite [type="checkbox"]:disabled + label {
    color: #aaa;
}

.bouton-flex {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 20px;
    height: 20px;
    font-weight: bold;
    margin-bottom: 5%;
    font-size: 8px;
}

.bouton-flex-search {
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: bold;
    width: 15px;
    font-size: 16px;
}

.block-row-search {
    padding-left: 20px;
    padding-right: 10px;
    position: relative;
}

.nom-indicateur {
    font-weight: bold;
    width: 100%;
    font-size: 1.5em;
    text-align: center;
}

.formulaire-thematique,
.graphs.graphs-non-affiches {
    display: flex;
    align-items: center;
    flex-direction: column;
    padding: 5px 20px;
}

.graphs.graphs-non-affiches {
    min-height: 300px;
}

.formulaire-thematique.formulaire-thematique-restitue.diagramme {
    margin-left: 0px;
}

.formulaire-thematique .export-methodo-buttons {
    margin-right: 0px;
}

.formulaire-thematique-restitue {
    margin-right: 0px;
}

.formulaire-thematique-restitue.graph-marqueur-svg {
    min-width: 50px;
}

.formulaire-thematique-restitue,
.diagramme-confidentiel,
.graphs.graphs-non-affiches {
    margin-right: 0px;
    margin-top: 20px;
}

.markdown-tooltip {
    margin-top: 10px;
}

.markdown-tooltip a {
    font-size: 12px;
}

.graph-static-data {
    text-align: center;
    margin-top: 5px;
    font-size: 18px;
    font-weight: bold;
}

.diagramme {
    margin-left: -6%;
}

.diagramme-carto {
    max-width: 500px;
    max-height: none;
}

.diagramme-confidentiel {
    margin-left: 0px;
}

.tdb-courbes-comparees {
    margin-right: 0px;
}

.elem-courbes-empilees {
    margin-bottom: 30px;
}

.bouton-methodo > button {
    height: 20px;
    margin-top: -2px;
    margin-right: 0px;
}

.selecteur-analyse {
    display: flex;
    flex-direction: column;
    border: 1px dotted #ddd;
    padding: 5px;
    margin: 10px;
}

.analyse {
    margin-bottom: 10px;
}

.separateur-vertical {
    height: 300px;
    border-right-style: none;
    margin-left: 20px;
}

.titre-thematique,
.selecteur {
    display: flex;
    align-items: center;
    width: 100%;
}

.titre-thematique textarea {
    resize: both;
    height: 50px;
    max-width: 50%;
}

.titre-thematique textarea {
    resize: both;
    width: 300px;
    height: 100px;
}

.suppr-analyse,
.suppr-sub-cat,
.suppr-thematique {
    background-color: red;
    color: white;
    border: none;
    border-radius: 100%;
    height: 22px;
    width: 22px;
    margin-left: 15px;
    position: absolute;
    top: 3px;
    right: 3px;
    z-index: 1500;
}

.move-thematique {
    background-color: blue;
    color: white;
    border: none;
    border-radius: 100%;
    height: 22px;
    width: 22px;
    margin-left: 15px;
    position: absolute;
    top: 3px;
}

.move-thematique.up {
    padding-bottom: 5px;
    right: 53px; /* 22px = width + 3 px + 3 px */
}

.move-thematique.down {
    padding-bottom: 2px;
    right: 28px;
}

.suppr-analyse {
    right: -13px;
    top: -13px;
}

.btn-rond {
    color: white;
    border: none;
    border-radius: 100%;
    height: 22px;
    width: 22px;
}

.btn-plus {
    background-color: green;
}

.btn-moins {
    background-color: red;
}

.tableau-reverse {
    display: flex;
    flex-direction: column-reverse;
}

.formulaire-metadonnees b,
.formulaire-metadonnees button {
    margin-right: 10px;
    margin-left: 10px;
}

.formulaire-metadonnees input[type="text"],
.formulaire-thematique input[type="text"] {
    height: 28px;
    border: 1px solid #aaa;
    border-radius: 3px;
}
.titre-statut,
.titre-categorie {
    margin-left: 10px;
}

.afficher-statut {
    margin-top: 20px;
}

.formulaire-metadonnees {
    margin-top: 15px;
}

.formulaire-metadonnees label {
    text-align: center;
}

.formulaire-metadonnees #dashboard-title {
    width: 50%;
    min-width: 500px;
    margin: auto;
}

.left-menu ul.menu li.active,
.left-menu ul.menu li:hover {
    background-color: #eee;
    border-radius: 10px 0px 0px 10px;
}

.left-menu .toggle-panel-visible {
    width: 235px;
    height: 100%;
    background: #ffffff;
    overflow: auto;
}

.left-menu .toggle-panel-hidden {
    left: -200px;
    width: 235px;
}

.left-menu .toggle-panel .panel-off {
    display: none;
}

.left-menu .toggle-panel .panel-on {
    display: block;
}

.left-menu .toggle-panel .sub-panel {
    padding: 5px;
}

.left-menu .toggle-panel .sub-panel .alert {
    width: 100%;
    text-align: center;
}

.left-menu .toggle-panel .panel-container {
    border-radius: 5px;
    background: #fff;
    padding-top: 5px;
    padding-bottom: 5px;
}

.left-menu .toggle-panel .panel-container label.theme-label {
    width: 100%;
    background: rgb(244, 176, 37);
    text-align: center;
    font-weight: bold;
    padding: 4px 0px 2px 0px;
    text-transform: uppercase;
}

.left-menu .toggle-panel .panel label.title {
    background: #ddd;
    width: 100%;
    padding: 5px;
    text-align: center;
    font-weight: bold;
    text-transform: uppercase;
}

.left-menu .toggle-panel .panel input[type="text"] {
    width: 200px;
    border: 1px solid #aaa;
    border-radius: 10px;
    margin: 0 auto;
    margin-left: 15px;
    padding: 3px;
    margin-bottom: 10px;
}

.left-menu .toggle-panel ul.analysis-themes {
    list-style: none;
    padding-left: 0px;
}

.left-menu .toggle-panel ul.analysis-list {
    padding-left: 20px;
    color: #444;
    margin-bottom: 5px;
}

.left-menu .toggle-panel ul.analysis-list a {
    font-size: 12px;
    color: inherit;
    text-decoration: none;
}

.left-menu .toggle-panel ul.analysis-list a,
.left-menu .toggle-panel ul.analysis-list li {
    cursor: pointer;

    -moz-transition: background-color 0.5s ease;
    -webkit-transition: background-color 0.5s ease;
    -o-transition: background-color 0.5s ease;
    transition: background-color 0.5s ease;
}

.left-menu .toggle-panel ul.analysis-list a:hover,
.left-menu .toggle-panel ul.analysis-list li:hover {
    color: #000;
    background-color: #eee;
}

.left-menu .toggle-panel ul.analysis-list li.disabled {
    color: #ccc;
    cursor: default;
}

.left-menu .toggle-panel ul.analysis-list li.active {
    font-weight: bold;
    color: var(--vert-primary);
}

.left-menu li.element-outside-accordion {
    font-size: 12px;
    font-weight: bold;
    margin-bottom: 8px;
    list-style: square;
}
.left-menu li.element-outside-accordion::marker {
    font-size: 16px;
}

a.navbar-external-link::after {
    content: "";
    width: 11px;
    height: 11px;
    margin-left: 6px;
    background-image: url("../img/popup-link-icon.svg");
    filter: invert(25%) sepia(0%) saturate(38%) hue-rotate(214deg) brightness(93%)
        contrast(86%);
    display: inline-block;
}

.left-menu .menu-container {
    border: none;
    height: 100vh;
    background-color: #fff;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    padding-bottom: 20px;
    position: absolute;
    top: 0;
    padding-top: 60px;
    z-index: 999;
}

.widgets {
    position: fixed;
    width: auto;
    height: auto;
    top: 60px;
    left: 0px;
}
.widgets .widgets {
    top: 0px;
}

.embedded-widgets {
    top: 5px;
}

.embedded-footer-widgets {
    position: fixed;
    bottom: 0px;
    left: 0px;
}

.map-widgets {
    right: 10px;
    left: inherit;
    width: auto;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}

.map-widgets-not-embedded {
    top: 180px;
    max-height: calc(100vh - 235px);
}

.float-widget {
    /*     position: fixed; */
    height: auto;
    width: 100%;
    background: rgba(240, 240, 240, 0.9);
    margin: 3px;
    padding: 3px;
    clear: both;
    -moz-box-shadow: 0px 0px 10px 0px #c0c0c0;
    -webkit-box-shadow: 0px 0px 10px 0px #c0c0c0;
    -o-box-shadow: 0px 0px 10px 0px #c0c0c0;
    box-shadow:
        0 1px 2px rgba(60, 64, 67, 0.2),
        0 2px 6px 2px rgba(60, 64, 67, 0.15);
    filter: progid:DXImageTransform.Microsoft.Shadow(color=#c0c0c0, Direction=NaN, Strength=10);
    -moz-border-radius: 4px;
    -webkit-border-radius: 4px;
    border-radius: 4px;
}

.float-widget .alert {
    margin-bottom: 2px;
}

.float-widget select.short {
    max-width: 100px;
}

.bouton-exit-widget {
    position: absolute;
    top: 5px;
    left: 5px;
    background-color: white;
    transition: transform 0.1s;
    border: white;
}

.bouton-exit-widget:hover {
    transform: scale(0.8);
}

.full-screen-widget {
    position: relative;
    width: 100%;
    /* height: 100%; */
    background: #fff;
    /* border: 1px solid #eee; */
    overflow: auto;
    z-index: 999;
    /*     text-align: center; */
    /*     margin-bottom: 30px; */
    padding-bottom: 100px;
}

.full-screen-widget .centered-widget {
    margin: 10px auto;
    clear: both;
}

.full-screen-modal-bg {
    position: fixed;
    top: 0px;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(200, 200, 200, 0.5);
    overflow: hidden;
    z-index: 9999;
}

.full-screen-modal-bg .float-widget {
    top: 150px;
    margin: 0 auto;
    padding-top: 100px;
    padding-left: 20px;
    padding-right: 20px;
    padding-bottom: 20px;
    width: 500px;
    max-width: 600px;
    height: auto;
    position: relative;
    font-size: 14px;
    background: #fff url("../img/logo_TerriSTORY_popup.png") no-repeat center 10px;
}

/* Plan d'actions */

.plan-actions .actions-container {
    margin-bottom: 30px;
}

.plan-actions .actions-container .btn {
    margin-right: 2px;
    margin-bottom: 2px;
    margin-top: 10px;
    margin-bottom: 10px;
}

.table-trajectoire-cible {
    width: 800px;
}

.table-trajectoire-cible .block {
    width: 50px;
    float: left;
    border-top: 1px solid #444;
}

.table-trajectoire-cible .block-title {
    width: 135px;
}

.table-trajectoire-cible .block .cell {
    border: 1px solid #ddd;
    height: 20px;
    font-size: 10px;
    line-height: 20px;
}

.table-trajectoire-cible .block-title .cell {
    background: #eee;
}

.cell-val {
    width: 50px;
}

.table-trajectoire-cible .break-block {
    clear: left;
    width: 0px;
}

.plan-actions .options,
.plan-actions .results {
    width: 900px;
}

.plan-actions .options ul {
    list-style: none;
    text-align: left;
}

#listeStrategies ul {
    list-style: disc;
}

.plan-actions .options ul li {
    /*     float: left; */
    min-width: 270px;
}

.plan-actions .options ul li input[type="checkbox"] {
    margin-right: 3px;
}

.plan-actions .results .data-line label {
    color: #aaa;
}

.plan-actions .coeffs ul li input[type="text"] {
    width: 40px;
}

.plan-actions .title {
    font-size: 14px;
    font-weight: bold;
    margin-top: 10px;
}

.plan-actions .category {
    padding: 3px;
    border-radius: 2px;
}

.plan-actions .prod_renouv {
    background: #e1b5b4;
    margin-bottom: 10px;
}

.plan-actions .bati {
    background: #b7cae8;
    margin-bottom: 10px;
}

.plan-actions .mob_durable {
    background: #c3d79a;
    margin-bottom: 10px;
}

.plan-actions .reduc_conso {
    background: #e8e068;
    margin-bottom: 10px;
}

.plan-actions .footer-charts {
    display: block;
    height: 200px;
    float: right;
    margin-right: 14px;
}

.footer-charts {
    margin-top: 10px;
}

.plan-actions .new-scenario {
    border: 1px solid #eee;
    padding: 10px;
    border-radius: 5px;
}

.plan-actions .new-scenario input,
.plan-actions .new-scenario label {
    margin-right: 5px;
}

.plan-actions .new-scenario input {
    height: 28px;
    border: 1px solid #aaa;
    border-radius: 3px;
}

.plan-actions .plan-actions-scenarii {
    margin-top: 30px;
}

.gestion-tableau-bord {
    margin-top: 70px;
}

.plan-actions .block-input {
    margin-top: 12px;
}

.plan-actions .block-input-title {
    width: 300px;
}

.plan-actions .advanced-year-params .block-input-title {
    width: 250px;
}

.plan-actions .input-group-text {
    white-space: normal;
    margin-top: 12px;
}

.plan-actions .pre-input-year {
    /*     position: absolute; */
    /*     margin-top: -11px; */
    top: -11px;
    margin-left: 2px;
    color: #aaa;
    font-size: 10px;
}

.plan-actions .input-year {
    border-radius: 0;
    padding: 0.375rem 0.2rem;
    margin-left: -0.5px;
    height: 17px;
}

.plan-actions .chart-legend {
    max-width: 800px;
    margin: 0 auto;
    margin-left: 10px;
    padding-top: 20px;
}

.plan-actions .chart-legend img {
    margin: 5px;
}

.chart-legend-infos {
    display: flex;
    justify-content: space-around;
    margin-top: 15px;
}

.selection-graph {
    display: flex;
    float: right;
}

.bouton-methodo a {
    margin-left: 5px;
}

.legende-double-representations {
    display: flex;
    flex-direction: row-reverse;
}

.liste-modalites {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    font-size: 11px;
    padding-left: 0px;
    margin-bottom: 0%;
    max-width: 300px;
}

.liste-modalites-radar {
    margin-bottom: 25%;
}

.liste-modalites-camembert {
    margin-left: 0%;
}

.liste-modalites-suivi-energetique {
    max-height: 400px;
    width: 500px;
}

.liste-modalites-diagramme {
    margin-left: -20%;
}

.lien-strategies-territoire {
    display: flex;
    justify-content: center;
    margin-top: 20px;
}

.territorial-updates-blocks {
    display: flex;
    flex-wrap: wrap;

    text-align: left;
}

.territorial-updates-blocks > div {
    border: 1px solid black;
    border-radius: 20px;
    padding: 20px;
    margin: 8px;
    width: min(600px, 100%);
}

.form-maj-territoires {
    display: flex;
    flex-direction: column;
    align-items: baseline;
    margin-left: 10%;
    margin-top: 20px;
}

.form-maj-territoires a,
a.normal-size {
    font-size: 1em;
}

.form-maj-territoires ul {
    text-align: left;
}

div.form-group.form-larger-checkbox > label:nth-child(1) {
    max-width: 0px;
    margin-right: 10px;
}

div.form-group.form-larger-checkbox {
    display: flex;
    justify-content: center;
    margin-top: 10px;
}

.checkbox-label {
    max-width: 600px;
    text-align: justify;
}

.form-maj-confid b,
.form-maj-confid div,
.form-maj-confid h5 {
    margin-bottom: 10px;
}

.donnees-territoires {
    max-height: 500px;
}

.element-legende-modalites {
    margin-top: 3px;
    word-wrap: break-word;
    max-width: 450px;
}

.taille-police-suivi-energetique {
    font-size: 11px;
}

.marge-element-legende {
    margin-left: 5px;
}

.marge-element-legende-radar {
    margin-left: 0px;
}

.charts-legende {
    display: flex;
    align-items: center;
}

.creation-tableaux-bord .charts-legende > .block-row > canvas {
    z-index: 0;
    /* position: absolute; */
}

.link-launcher {
    background-color: var(--vert-primary);
    -webkit-mask: no-repeat center center;
    mask: no-repeat center center;
    mask-size: 80px;
    height: 80px;
    margin-bottom: 10px;
}

.link-launcher.analyse {
    -webkit-mask-image: url("../img/icon_analyse.svg");
    mask-image: url("../img/icon_analyse.svg");
}

.link-launcher.pollutants {
    -webkit-mask-image: url("../img/icon_pollutants.svg");
    mask-image: url("../img/icon_pollutants.svg");
}

.link-launcher.strategy {
    -webkit-mask-image: url("../img/icon_strategy.svg");
    mask-image: url("../img/icon_strategy.svg");
}

.link-launcher.simulator_mobility {
    -webkit-mask-image: url("../img/icon_simulator_mobility.svg");
    mask-image: url("../img/icon_simulator_mobility.svg");
}

.link-launcher.sankey {
    -webkit-mask-image: url("../img/icon_sankey.svg");
    mask-image: url("../img/icon_sankey.svg");
}

.link-launcher.dashboard {
    -webkit-mask-image: url("../img/icon_dashboard.svg");
    mask-image: url("../img/icon_dashboard.svg");
}

.aplats-couleurs {
    width: auto;
}

.creation-tableaux-bord .choisir-methode {
    display: flex;
    flex-direction: column;
    min-width: 200px;
}

.export-methodo-buttons {
    flex-direction: column;
    margin-right: 30%;
}

.marge-haute-moyenne {
    margin-top: 20px;
}

.graphs-non-affiches {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.bouton-methodo-marge {
    margin-bottom: 50%;
}

.choisir-methode select {
    width: 200px;
}

.cercle-projet {
    width: 30px;
    height: 10px;
    border-radius: 0px;
    border-bottom-style: dotted;
}

.cercle-service {
    width: 30px;
    height: 10px;
    border-radius: 0px;
    border-bottom-style: inset;
}

.plan-actions .chart-legend .chart-legend-item-text {
    width: 420px;
    text-align: right;
}

.plan-actions .filters {
    position: absolute;
    top: 100px;
    margin-left: 400px;
}

.plan-actions .annee-cell {
    float: left;
    width: 42px;
}

.plan-actions .plan-actions-scenarii .actions {
    float: left;
}

table.params-avances {
    margin-top: 10px;
    margin-bottom: 10px;
}

table.params-avances td {
    background: #eee;
}

table.params-avances th,
table.params-avances td {
    border-bottom: 1px solid #ddd;
    padding-left: 3px;
    padding-right: 3px;
    padding-top: 0px;
    padding-bottom: 0px;
}

table.params-avances td {
    border-left: 1px solid #ddd;
}

table.params-avances td.hidden,
table.params-avances th.hidden {
    display: none;
}

.main .accordion {
    margin-bottom: 10px;
    border: none;
}
.main .accordion__title {
    padding: 5px;
    background: #c5f1f8;
    width: 230px;
}

.main .accordion__title h3 {
    border: none;
    font-size: 12px;
}

.main .accordion__title h3:before {
    content: "▼";
    color: var(--vert-primary);
}

.main .accordion__button {
    background: #c5f1f8;
    padding: 5px;
    width: 270px;
}

.main .accordion-indicateur {
    background: #ffffff;
    padding: 0px;
}

.main .accordion__button:before {
    color: var(--vert-primary);
}

.main .accordion-collapsed {
    width: 230px;
}

.main .accordion-collapsed-full {
    width: 100%;
}

.main .accordion-collapsed h3:before {
    content: "▶";
    color: var(--vert-primary);
}

.main .accordion-poi .accordion__title {
    background: #d1ecf1;
}

.main .accordion__body {
    padding: 5px;
}

.main .accordion-poi .accordion__body {
    padding: 5px;
}

.main .accordion__item + .accordion__item {
    border: none;
}

.main .accordion__item {
    margin-bottom: 2px;
}

.retour-ligne-fleche {
    display: -webkit-inline-box;
    width: 200px;
}

.results .accordion__button {
    background: none;
    padding: 5px;
    width: auto;
    font-size: 20px;
}

.liste-indicateurs {
    padding: 10px;
}

.action-select {
    padding: 5px 1px 5px 1px;
    width: 42px;
    border-radius: 0;
    border: 1px solid #ccc;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    height: 29px;
    font-size: 10px;
}

/* notes */
#territorialsynthesis-content,
#suivi-energetique-content {
    width: 300mm; /* A4 landscape */
    position: relative;
    margin-bottom: 100px;
}

#svg-container {
    margin-top: 0px;
}

.notes .title {
    font-size: 14px;
    font-weight: bold;
    margin-top: 10px;
}

.title-referencement-mentions-legales,
.title-referencement-a-propos {
    text-align: justify;
    font-weight: bold;
    margin-bottom: 15px;
}

.title-referencement-mentions-legales {
    font-size: 2.5rem;
    margin-top: 10px;
}

.title-referencement-a-propos {
    font-size: 2.3rem;
}

.mentions-legales a {
    font-size: 12px;
    color: #0563c1;
}

.notes .notes-infos {
    font-size: 11px;
}

.centered-logos img {
    margin-right: 20px;
}

.table-notes .highlight {
    background: #c4d79b;
}

.table-notes .separator {
    background: #5a7718;
}

.territorialsynthesis-table-header {
    background: #93c127;
}

.notes .territorialsynthesis-title-table {
    margin-top: 40px;
}

.notes-green {
    color: #93c127;
}

.notes-orange {
    color: #f4b025;
}

.table-notes {
    width: 100%;
    font-size: 12px;
    table-layout: fixed;
}

.table-notes,
.table-notes th,
.table-notes td {
    border: 1px solid #444;
    border-top: none;
    border-collapse: collapse;
    font-weight: normal;
}

.table-notes-header tr {
    border-top: 1px solid #444;
}

.table-notes th,
.table-notes td {
    padding: 1px 3px;
    text-align: left;
}

.table-notes tr {
    height: 30px;
}

.table-notes td {
    width: 77px;
}

.table-notes .table-theme {
    width: 200px;
}

.table-notes .table-num {
    width: 40px;
}

.table-notes .table-indicateur {
    width: 230px;
}

.territorialsynthesis {
    font-size: 14px;
}

.territorialsynthesis-methodo {
    background: #007f79;
    border: none;
    margin-top: 20px;
    margin-bottom: 20px;
    margin-right: 5px;
    margin-left: 5px;
}

.territorialsynthesis-methodo:hover {
    background: #007f79;
}

.territorialsynthesis-title,
.suivi-energetique-title,
.action-title {
    color: #007f79;
    font-size: 28px;
    font-weight: bold;
    margin-top: 10px;
    padding-top: 10px;
    margin-bottom: 10px;
    display: block;
}

.territorialsynthesis-logo {
    position: absolute;
    right: 20px;
    top: 0;
}

.territorialsynthesis-territoire,
.action-territoire {
    font-size: 20px;
    font-weight: bold;
    margin-top: 20px;
    margin-bottom: 20px;
}
.suivi-energetique-territoire {
    font-size: 20px;
    font-weight: bold;
    margin-top: 10px;
    margin-bottom: 20px;
}
.green {
    background-color: #baeb9e;
    pointer-events: none;
}
.territorialsynthesis-title-table {
    margin-top: 30px;
}

.territorialsynthesis-footer-notes {
    margin-top: 40px;
    margin-bottom: 40px;
}

.territorialsynthesis .modal-content {
    font-size: 12px;
    text-align: start;
}

.title-margin-bottom {
    margin-bottom: 30px;
}

.suivi-energetique h2,
.suivi-energetique h3,
.suivi-energetique h4 {
    margin-top: 30px;
    margin-bottom: 30px;
}

.suivi-energetique h2 {
    color: #007f79;
    margin-top: 45px;
}

.suivi-energetique .recap-numbers {
    font-size: 1.3em;
}

.suivi-energetique .recap-numbers li {
    margin-bottom: 10px;
}

.suivi-energetique .chart-legend {
    text-align: right;
}

/* Infos */

.infos {
    position: relative;
    width: 300px;
    float: right;
    margin-right: 0px;
    margin-top: 5px;
}

.infos-double-width {
    width: 500px;
}

.infos .alert {
    height: auto;
    width: 300px;
}

.iframe {
    position: relative;
    width: 300px;
    float: right;
    margin-right: 0px;
    margin-top: 5px;
}

.legend-control {
    margin-bottom: 20px;
}

.titre-legende-conteneur {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1em;
}

.rc-slider-rail {
    background: rgba(80, 217, 220, 0.5);
}

.threshold-slider .rc-slider-rail {
    background: #00b2ad;
}

.threshold-slider .rc-slider-track {
    background-color: #abe2fb;
}

.rc-slider {
    width: 200px;
}

.modal {
    display: block;
    position: fixed;
    z-index: 9999999;
    padding-top: 100px;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgb(0, 0, 0);
    background-color: rgba(0, 0, 0, 0.4);
    border-radius: 4px;
}

.modal-content {
    display: block;
    background-color: #fefefe;
    margin: auto;
    padding: 20px;
    border: 1px solid #888;
    width: 30%;
    left: 50%;
    top: 40%;
    transform: translate(-50%, -50%);
    position: absolute;
}

.close {
    color: #aaaaaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
}

.legend-control {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.titre-final {
    max-width: 300px;
    text-align: center;
}

.infos label {
    font-weight: bold;
    margin-bottom: 3px;
}

.warning-ratio-year {
    background-color: lightgray;
    border-radius: 15px;
    padding: 8px;
    font-size: smaller;
    max-width: 450px;
}

.row.warning-ratio-year {
    margin-bottom: 3px;
    margin-left: -8px;
    width: 100%;
    max-width: none;
}

.infos .content {
    float: left;
    width: 215px;
    padding-left: 5px;
}

.panel-close-icon {
    background-color: var(--vert-primary);
    -webkit-mask: url("../img/icon_toggle.svg") no-repeat center center;
    mask: url("../img/icon_toggle.svg") no-repeat center center;
    height: 100%;
}

/* infos - toggle button */
.infos label.switch {
    position: relative;
    display: inline-block;
    width: 30px;
    height: 17px;
}

.infos label.switch input {
    opacity: 0;
    width: 0;
    height: 0;
}

.infos .switch-labels {
    width: auto;
    margin-left: 10px;
    margin-right: 10px;
}

.infos .category-switch {
    text-align: center;
}
.infos .category-switch p {
    text-align: left;
}

.reset {
    right: 256px;
    top: 142px;
    left: inherit;
    width: 40px;
    height: 35px;
    background: rgba(240, 240, 240, 0.9) url("../img/icon_reset.png") no-repeat center
        center;
}

.pdf {
    background: url("../img/icon_pdf.png") no-repeat right center;
}

.pdf,
.csv {
    width: 14px;
    height: 14px;
}

.pdf-admin {
    background: url("../img/icon_pdf.png") no-repeat right center;
    display: inline-block;
    width: 25px;
    height: 14px;
    right: 10%;
}

.edit-button-top-tableau {
    float: right;
    margin-top: 14px;
    margin-right: 14px;
    float: right;
    font-size: 10px;
    color: white;
}
.edit-button-top-tableau:hover,
.edit-button-top-tableau:focus {
    background-color: rgba(230, 230, 230, 0.7);
    color: #198754;
    border-color: white;
}

.help {
    background: url("../img/icon_help.png") no-repeat right center;
    width: 29px;
    height: 29px;
    float: right;
    margin-top: 5px;
    margin-right: 10px;
}

.tri {
    background: url("../img/tri_desc.png") no-repeat right center;
    width: 20px;
    height: 29px;
    float: right;
    margin-left: 5px;
}

.-sort-asc .tri {
    background: url("../img/tri_asc.png") no-repeat right center;
}
.-sort-desc .tri {
    background: url("../img/tri_desc.png") no-repeat right center;
}

.colonne_table {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.help_small {
    background: url("../img/icon_help_small.png") no-repeat right center;
    width: 20px;
    height: 20px;
    float: right;
    margin-top: 5px;
    margin-right: 10px;
}

.confidential-legend {
    background: url("../img/icon_confidentialite.png") no-repeat left center;
    width: 43px;
    height: 23px;
    margin-top: 5px;
    padding-left: 55px;
}

.unavailable-legend {
    display: flex;
    margin-top: 15px;
}

.unavailable-legend .fond-gris {
    background: rgba(204, 204, 204) no-repeat left center;
    height: 23px;
    padding-left: 40px;
    margin-right: 15px;
}

.unavailable-legend .fond-gris-for-circle {
    height: 23px;
    width: 23px;
    background-color: #cccccc;
    border-radius: 50%;
    margin-right: 15px;
}

.unavailable-legend .unavailable-data {
    margin-top: 3px;
}

.filters {
    left: 5px;
    /*     width: 300px; */
}

.filter label {
    margin-right: 15px;
    width: 53px;
    text-align: right;
}

.filter select {
    max-width: 200px;
    border: 1px solid #aaa;
}

.layer-check {
    width: 100%;
}

.layer-check label {
    width: auto;
    margin-left: 15px;
}

.layer-check label input[type="checkbox"] {
    margin-right: 3px;
    float: left;
}

.actions-territoire {
    display: flex;
    justify-content: center;
}

.confid-chart {
    width: 200px;
    float: left;
    height: 180px;
    border: 1px solid #eee;
    text-align: center;
    padding-top: 70px;
}

.title-chart {
    color: #888;
    font-weight: bold;
    display: block;
}

.poi-legend img,
.poi-legend object {
    width: 23px;
    max-height: 33px;
}

.dashboard-poi-legend img {
    width: 16px;
    max-height: 23px;
}

/* Analysis legend */
.legend {
    position: relative; /* for absolute positioning of the panel close button */
    width: 300px;
    float: right;
    margin-right: 0;
}

.infos-content {
    padding: 1rem;
}

.legend-scroll-container {
    overflow-y: scroll;
    padding: 1rem;
}

.legend-double-width {
    width: 500px;
}

.legend-container {
    margin-bottom: 10px;
}

.embedded-footer-closed,
.iframe-closed,
.infos-closed,
.legend-closed {
    height: 2.5em;
    width: 2.5em;
    font-size: 1.14em;
    clear: both;
    padding: 2px;
    flex-shrink: 0;
}

/* use flexbox when open to properly handle the height and the scrollbar */
.legend-open {
    display: flex;
    flex-direction: column;
    min-height: 0;
}

.embedded-footer-closed .embedded-footer-open-button {
    color: var(--vert-primary);
    height: 100%;
    width: 100%;
}

.iframe-closed .iframe-open-button {
    color: var(--vert-primary);
    height: 100%;
    width: 100%;
}

.infos-closed .infos-open-button {
    background-color: var(--vert-primary);
    -webkit-mask: url("../img/icon_info.svg") no-repeat center center;
    mask: url("../img/icon_info.svg") no-repeat center center;
    height: 100%;
    width: 100%;
}

.legend-closed .legend-open-button {
    background-color: var(--vert-primary);
    -webkit-mask: url("../img/icon_legend.svg") no-repeat center center;
    mask: url("../img/icon_legend.svg") no-repeat center center;
    height: 100%;
    width: 100%;
}

.embedded-footer-closed:hover,
.iframe-closed:hover,
.legend-closed:hover,
.infos-closed:hover {
    background-color: rgba(230, 230, 230, 0.7);
}

.embedded-footer-open-button,
.iframe-open-button,
.legend-open-button,
.infos-open-button {
    height: 2.5em;
    width: 2.5em;
    border: none;
    background: none;
}

.iframe-close-button,
.legend-close-button,
.infos-close-button {
    position: absolute;
    z-index: -1;
    left: -20px;
    top: 20px;
    height: 30px;
    width: 20px;
    border: none;
    background: rgba(240, 240, 240, 0.9);
    box-shadow:
        0 1px 2px rgba(60, 64, 67, 0.2),
        0 2px 6px 2px rgba(60, 64, 67, 0.15);
    border-radius: 4px 0 0 4px;
}

/* remove ? */
.legend-open-button span,
.infos-open-button span,
.legend-close-button,
.infos-close-button {
    font-size: 20px;
}

.legend-eye-button {
    height: 2.5em;
    width: 2.5em;
    border: none;
    background: none;
    margin-left: auto;
}

.elements-en-lignes {
    display: flex;
}

.legend-eye-button i {
    font-size: 25px;
}

.legend-container p {
    text-align: justify;
}

.legend-item {
    display: flex;
    align-items: center;
    clear: left;
    gap: 7px;
}

.legend-item .legend-symbol {
    display: block;
    float: left;
    flex-shrink: 0;
}

.legend-item label {
    text-align: left;
}

.legend-square {
    width: 20px;
    height: 20px;
}

span .legend-line-symbol {
    width: 23px;
    height: 4px;
    display: block;
}

.legend .legend-control {
    clear: both;
}

.legend div.legend-wms {
    margin: auto;
}

.legend-wms-parent {
    display: grid;
    width: 100%;
}

.legend-poi-symbol img {
    margin-top: 1px;
    margin-right: 3px;
    float: left;
}

.legend-poi-label {
    float: left;
}

.legend-pixels {
    display: grid;
    grid-template-columns: 1fr 3fr;
}

.legend-pixels-gradient {
    height: 100px;
    width: 20px;
}

.legend-pixels-values {
    position: relative;
}

.legend-pixels-values span.legend-pixels-max {
    display: block;
}
.legend-pixels-values span.legend-pixels-min {
    display: block;
    position: absolute;
    bottom: 0;
}

.iframe-button {
    background-color: var(--vert-primary);
    margin-left: 10px;
    color: white;
    border-color: transparent;
    border-radius: 4px;
    width: auto;
    min-width: 50px;
    transition: background-color 0.3s ease;
    text-align: center;
    float: right;
    font-size: xx-small;
}

.iframe-button:disabled {
    background-color: #7f8284;
    cursor: not-allowed;
}

ul.poi-admin-list {
    list-style: none;
}
ul.poi-admin-list li {
    text-align: left;
    margin-bottom: 5px;
}

ul.poi-admin-list li label {
    width: 450px;
}

.formulaire-horizontal-alignement-vertical-centre {
    display: flex;
    align-items: center;
}

.formulaire-horizontal-alignement-vertical-centre label {
    margin-right: 10px;
}

.poi-add {
    background: #fff url("../img/icon_add_poi.png") no-repeat center center;
    width: 23px;
    height: 21px;
}

/*
 * OL custom
 */

.ol-zoom {
    top: 70px;
    right: 10px;
    left: unset;
}

.ol-popup {
    position: absolute;
    background-color: white;
    -webkit-filter: drop-shadow(0 1px 4px rgba(0, 0, 0, 0.2));
    filter: drop-shadow(0 1px 4px rgba(0, 0, 0, 0.2));
    padding: 30px 15px 15px 15px;
    border-radius: 10px;
    border: 1px solid #cccccc;
    bottom: 12px;
    left: -50px;
    min-width: 300px;
    /*     max-height: 400px; */
    /*     overflow: auto; */
}
.ol-popup-edit-mode {
    min-width: 390px;
}
.ol-popup-edit-mode select.val {
    max-width: 170px;
}

.ol-popup:after,
.ol-popup:before {
    top: 100%;
    border: solid transparent;
    content: " ";
    height: 0;
    width: 0;
    position: absolute;
    pointer-events: none;
}
.ol-popup:after {
    border-top-color: white;
    border-width: 10px;
    left: 48px;
    margin-left: -10px;
}
.ol-popup:before {
    border-top-color: #cccccc;
    border-width: 11px;
    left: 48px;
    margin-left: -11px;
}
.ol-popup-closer {
    text-decoration: none;
    position: absolute;
    top: 2px;
    right: 8px;
}
/*
.ol-popup-closer:after {
    content: "✖";
    font-size: 20px;
}
*/
.ol-popup-edit {
    text-decoration: none;
    position: absolute;
    top: -3px;
    right: 40px;
    font-size: 24px !important;
}
/*
.ol-popup-edit:after {
    content: "✎";
    font-size: 20px;
}
*/

.ol-popup-button {
    font-size: 20px;
    border: none;
    background: none;
}

.ol-popup-button:hover {
    color: var(--vert-aura-ee);
}

.ol-popup-save,
.ol-popup-cancel {
    float: right;
    color: #f4b131;
}

.popup-zone {
    background: url("../img/icon_house.png") no-repeat left center;
    padding-left: 16px;
    padding-top: 2px;
    margin-bottom: 5px;
}
button.popup-zone {
    border: none;
    text-decoration: underline;
    color: var(--vert-primary);
    text-align: left;
}

.popup-label {
    font-weight: bold;
}

#popup-content {
    max-height: 300px;
    overflow: auto;
}

.ol-popup .flux {
    background: #ffdfa8;
    border-radius: 3px;
    padding: 3px;
}

.ol-popup .label-edit {
    width: 180px;
}

.ol-popup h3 {
    font-size: 14px;
    font-weight: bold;
    margin-top: 10px;
    margin-bottom: 10px;
}

.threshold-slider-range .rc-slider-track {
    background-color: #00b2ad;
}

.threshold-slider-range .rc-slider-handle {
    border: solid 2px #00b2ad;
}

/* Loader */
.loader {
    border: 10px solid #f3f3f3;
    border-radius: 50%;
    border-top: 10px solid #00a3e1;
    border-right: 10px solid #ee1e7b;
    border-bottom: 10px solid #8ac542;
    border-left: 10px solid #f4ae36;
    width: 50px;
    height: 50px;
    -webkit-animation: spin 2s linear infinite;
    animation: spin 2s linear infinite;
}

div.loading-screen {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
}
div.loading-screen > div {
    margin: auto;
    width: 500px;
    height: 250px;
    text-align: center;
    font-size: 20px;
}
div.loading-screen .loader {
    display: block;
    margin: auto;
}
div.loading-screen.inner-loading-screen {
    height: 100px;
}

.close-big {
    font-size: 40px;
    float: left;
    border: none;
    background: none;
    color: #aaaaaa;
}

.close-big:after {
    float: right;
    content: "retour à la carte";
    font-size: 10px;
    margin-top: 14px;
    margin-left: 3px;
}

.emploi-option {
    color: #f4ae36;
}

.notes-option {
    color: #95c232;
}

.plan-actions .charts {
    width: 600px;
}

.form-inline {
    display: inline;
}

.equipement-name {
    width: 600px;
}

.form-checkbox {
    width: 20px;
}

.checkbox-label {
    float: right;
    padding-left: 5px;
}

.help-text-external-link,
.form-text {
    text-align: justify;
}

.taille-libelle-registre {
    flex: 0 0 auto;
    width: 17.33333333%;
    margin-top: 10px;
    margin-bottom: 10px;
}

.taille-formulaire-admin {
    width: 600px;
}
.inline input[type="checkbox"].taille-formulaire-admin {
    width: 200px;
}

.taille-formulaire-registre {
    width: 300px;
}

.recaptcha {
    margin: 0 auto;
    width: 300px;
}

/* Custom checkboxes */
/* The container */
.checkbox-container {
    display: block;
    position: relative;
    padding-left: 25px;
    margin-bottom: 7px;
    padding-top: 3px;
    cursor: pointer;
    font-size: 12px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

/* Hide the browser's default checkbox */
.checkbox-container input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
}

/* Create a custom checkbox */
.checkmark {
    position: absolute;
    top: 0;
    left: 0;
    height: 20px;
    width: 20px;
    background-color: #eee;
}

/* On mouse-over, add a grey background color */
.checkbox-container:hover input ~ .checkmark {
    background-color: #ccc;
}

/* When the checkbox is checked, add a blue background */
.checkbox-container input:checked ~ .checkmark {
    background-color: #17a2b8;
}

.checkbox-container input:checked ~ .checkmark-force-disabled {
    background-color: #ff0000;
}

/* Create the checkmark/indicator (hidden when not checked) */
.checkmark:after {
    content: "";
    position: absolute;
    display: none;
}

/* Show the checkmark when checked */
.checkbox-container input:checked ~ .checkmark:after {
    display: block;
}

.checkmark-force-disabled {
    color: #ccc;
}

.ol-attribution {
    bottom: 2em;
}

.ol-control button {
    height: 2.375em;
    width: 2.375em;
    background-color: rgba(255, 255, 255, 0.4);
}

button.ol-zoom-in,
button.ol-zoom-out {
    background-color: var(--vert-primary);
    opacity: 0.7;
}

.ol-control button:hover,
.ol-control button:focus {
    background-color: rgba(230, 230, 230, 0.7);
    color: var(--vert-primary);
}

.tout {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 100px;
}

.img img {
    margin-bottom: 20px;
    height: 80px;
}

.support {
    width: 50%;
    margin-top: 50px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.support h3 {
    font-weight: bold;
    font-size: 14pt;
    color: #007e79;
    border-bottom: none;
}

.texte-corps p {
    text-align: justify;
    font-size: 12pt;
}
.corps p,
.corps ul li,
.support .corps ul li a {
    text-align: justify;
    font-size: 12pt;
}

.support h3 {
    margin-top: 30px;
}

.support-tutoriels > ul > li {
    margin-bottom: 10px;
}

/* Style the checkmark/indicator */
.checkbox-container .checkmark:after {
    left: 8px;
    top: 4px;
    width: 5px;
    height: 10px;
    border: solid white;
    border-width: 0 3px 3px 0;
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
}

.contact .form-group label {
    text-align: right;
}
.creation-tableaux-bord .form-group label {
    margin-right: 10px;
}

.form-text-inscription {
    margin-top: 10px;
}

.contact .panel-heading,
.account .panel-heading {
    margin-top: 20px;
    margin-bottom: 20px;
}

.contact .control-label {
    vertical-align: top;
    padding-top: 3px;
}

/* Popup style */
.popup {
    z-index: 9999;
    position: fixed;
    width: auto;
    padding: 10px;
    background: #fff;
    border-radius: 5px;
    border-top: 1px solid var(--vert-aura-ee);
    border-left: 1px solid var(--vert-aura-ee);
    border-bottom: 1px solid var(--vert-aura-ee);
    border-right: 1px solid var(--vert-aura-ee);
    box-shadow: 0px 0px 10px rgba(100, 100, 100, 0.8);
}

/* Partage stratégies */

.partage-strategie {
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 50%;
}

/* Auth style */
.auth-widget {
    z-index: 9999;
    position: fixed;
    width: auto;
    padding: 10px;
    background: #fff;
    border-radius: 0px 0px 5px 5px;
    border-left: 1px solid var(--vert-aura-ee);
    border-bottom: 1px solid var(--vert-aura-ee);
    border-right: 1px solid var(--vert-aura-ee);
    top: 5px;
    right: 10px;
}

.navbar-vert-paysdelaloire .auth-widget {
    position: static;
}

.auth-widget-collapsed {
    border: none;
}

.auth-widget .btn-login {
    text-decoration: none;
    color: black;
    background: none;
    border: none;

    display: inline-block;
    padding: 6px;
    margin-right: 2px;
    font-size: 14px;
    border-radius: 2px;
    min-width: 28px;
}
.auth-widget .btn-login:hover {
    background: var(--col-gray-bg);
}

.auth-widget .panel {
    padding: 3px;
    margin-bottom: 3px;
}

.auth-widget .panel {
    background: none;
}

.auth-widget .user-login-form {
    margin-top: 40px;
    display: flex;
    flex-direction: column;
    gap: 4px;
}
.auth-widget .user-login-form .buttons {
    display: flex;
    gap: 10px;
    margin-top: 6px;
}
.auth-widget .user-login-form .buttons > * {
    flex: 1 0 0;
}

.auth-widget ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

.auth-widget .user-menu li {
    display: inline-block;
}

.auth-widget .user-login-form input {
    width: 60%;
}

.auth-widget .user-login-form button {
    margin-right: 10px;
}

.auth-widget .welcome-msg {
    margin-top: 7px;
    margin-right: 10px;
}

.user-infos ul.user-meta {
    list-style: none;
}
.user-infos ul.user-meta li {
    text-align: left;
}
.user-infos ul.user-meta li label {
    width: 80px;
}
.user-infos ul.user-meta .value {
    font-weight: bold;
}

.user-infos .strategy-information h4,
.user-infos .strategy-information h5 {
    margin-top: 20px;
    text-align: left;
}

.user-infos .strategy-information {
    width: 80%;
    min-width: 650px;
}

.strategy-information .react-tabs {
    display: flex;
    margin-left: 36px;
}

.strategy-information .react-tabs__tab-list {
    display: flex;
    flex-direction: column;
    width: 250px;
    margin: 0;
    margin-right: 40px;
    padding: 0;
    border-bottom: 0px;
}

.strategy-information .react-tabs__tab {
    list-style: none;
    padding: 12px 6px;
    cursor: pointer;
}

.strategy-information .react-tabs__tab--selected {
    background: #eee;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.strategy-information .react-tabs__tab-panel {
    display: none;
}

.strategy-information .react-tabs__tab-panel--selected {
    display: block;
}

.strategy-information .react-tabs__tab {
    padding-left: 24px;
}

.strategy-information .react-tabs__tab--selected {
    padding-left: 21px;
}

.centered-row .user-infos li {
    text-align: left;
}

.user-scenarii .ReactTable .actions button {
    margin-right: 5px;
}

.user-scenarii .ReactTable .rt-th {
    padding: 12px 5px;
}

.ReactTable .rt-td {
    white-space: normal;
}

.ReactTable .datatable-subcell {
    margin-bottom: 10px;
}

.disconnect-button {
    font-size: 16px;
    margin-top: -2px;
}

.print-control {
    right: 10px;
    top: 143px;
}

.print-control .print {
    width: 100%;
    height: 100%;
}

.print-control .menu-icon {
    background-color: var(--vert-primary);
    -webkit-mask: url("../img/icon_print.svg") no-repeat center center;
    mask: url("../img/icon_print.svg") no-repeat center center;
    height: 100%;
}

.messages-msg {
    position: fixed;
    bottom: 40%;
    z-index: 999999;
    left: 50%;
    width: 400px;
    margin-left: -200px;
    text-align: center;
    font-weight: bold;
    padding: 35px;
}

.menu-button {
    border: none;
    background: none;
    font-size: 15px;
    margin-top: -5px;
    float: right;
}

.separator-line {
    display: block;
    width: 100%;
    height: 50px;
}

.home-container {
    height: 100%;
    background: url("../img/bg_select_region.png") no-repeat center center;
}

.bouton-source {
    display: flex;
    flex-direction: row-reverse;
    align-items: baseline;
}

/* Thèmes (régions) */

.vert-aura-ee .territorialsynthesis-methodo {
    background: var(--vert-aura-ee);
}

.vert-nouvelle-aquitaine .territorialsynthesis-methodo {
    background: var(--vert-nouvelle-aquitaine);
}
.vert-occitanie .territorialsynthesis-methodo {
    background: var(--vert-occitanie);
}

.vert-paysdelaloire .territorialsynthesis-methodo {
    background: var(--vert-paysdelaloire);
}

.vert-bretagne .territorialsynthesis-methodo {
    background: var(--vert-bretagne);
}

.vert-corse .territorialsynthesis-methodo {
    background: var(--vert-corse);
}

.vert-aura-ee .territorialsynthesis-title,
.vert-aura-ee .suivi-energetique-title,
.vert-aura-ee .action-title {
    color: var(--vert-aura-ee);
}

.vert-nouvelle-aquitaine .territorialsynthesis-title,
.vert-nouvelle-aquitaine .suivi-energetique-title,
.vert-nouvelle-aquitaine .action-title {
    color: var(--vert-nouvelle-aquitaine);
}

.vert-occitanie .territorialsynthesis-title,
.vert-occitanie .suivi-energetique-title,
.vert-occitanie .action-title {
    color: var(--vert-occitanie);
}

.vert-paysdelaloire .territorialsynthesis-title,
.vert-paysdelaloire .suivi-energetique-title,
.vert-paysdelaloire .action-title {
    color: var(--vert-paysdelaloire);
}

.vert-bretagne .territorialsynthesis-title,
.vert-bretagne .suivi-energetique-title,
.vert-bretagne .action-title {
    color: var(--vert-bretagne);
}

.vert-corse .territorialsynthesis-title,
.vert-corse .suivi-energetique-title,
.vert-corse .action-title {
    color: var(--vert-corse);
}

.suivi-energetique .vert-aura-ee h2 {
    color: var(--vert-aura-ee);
}

.suivi-energetique .vert-nouvelle-aquitaine h2 {
    color: var(--vert-nouvelle-aquitaine);
}
.suivi-energetique .vert-occitanie h2 {
    color: var(--vert-occitanie);
}

.suivi-energetique .vert-paysdelaloire h2 {
    color: var(--vert-paysdelaloire);
}

.suivi-energetique .vert-bretagne h2 {
    color: var(--vert-bretagne);
}

.suivi-energetique .vert-corse h2 {
    color: var(--vert-corse);
}

.custom-ol-attribution {
    position: fixed;
    right: 10px;
    bottom: 10px;
}

.custom-ol-attribution a {
    font-size: 8pt;
    background-color: #eee;
}

/* Import de données */

.block-etape {
    border: 1px solid #eee;
    border-bottom: none;
    margin-bottom: 5px;
}

.sous-block-etape {
    padding: 20px;
    margin: 10px;
    border: 1px solid #eee;
}

.block-etape .actions {
    padding: 20px;
}

.block-etape .actions input[type="radio"] {
    margin: 10px;
}

.block-etape h4 {
    background: rgb(243, 249, 230);
    width: 100%;
    margin-top: 20px;
    margin-bottom: 10px;
}

.panel {
    color: black;
}

.panel-ajout-indicateur .control-label {
    text-align: right;
}

.creation-tableaux-bord .panel-ajout-indicateur .control-label {
    vertical-align: top;
}

.panel-ajout-indicateur .form-horizontal {
    margin-bottom: 10px;
}

.panel-ajout-indicateur .custom-block {
    width: 620px;
    display: inline-block;
    text-align: left;
    margin-left: 10px;
}
.panel-ajout-indicateur .form-horizontal label {
    padding-right: 10px;
}
.panel-ajout-indicateur .custom-block.type-definition label {
    padding: 0px 5px;
}

.panel-ajout-indicateur input[type="checkbox"] {
    margin-right: 10px;
}

.panel-ajout-indicateur .inline {
    display: inline-block;
    text-align: left;
    width: 650px;
    margin-left: 10px;
}

.panel-ajout-indicateur .inline label {
    margin-right: 10px;
}

.panel-ajout-indicateur .form-check-label {
    display: inline-block;
    width: 175px;
}

.panel-ajout-indicateur .list-unstyled {
    width: 440px;
    margin: 0 auto;
    text-align: left;
}

.panel-ajout-indicateur .list-unstyled input[type="text"] {
    width: auto;
    max-width: 200px;
}

.panel-ajout-indicateur .basic-multi-select {
    width: 620px;
    display: inline-block;
}

.inline-basic-select {
    width: 170px;
    display: inline-block;
    margin-left: 10px;
}

.multi-select {
    display: inline-block;
}

.sous-block-etape input[type="text"] {
    max-width: 300px;
}

.sous-block-etape label {
    width: 50px;
}

.sous-block-etape .sous-form {
    margin-bottom: 10px;
}

.admin-upload-info {
    margin-top: 0;
    margin-bottom: 1rem;
    width: 50%;
    margin-left: auto;
    margin-right: auto;
    text-align: left;
}

/* Color picker */
.color-picker-color {
    width: 36px;
    height: 14px;
    border-radius: 2px;
}

.color-picker-swatch {
    padding: 5px;
    background: #fff;
    border-radius: 1px;
    box-shadow: 0 0 0 1px rgba(0, 0, 0, 0.1);
    display: inline-block;
    cursor: pointer;
}

.color-picker-popover {
    position: absolute;
    z-index: 2000;
}

.color-picker-cover {
    position: fixed;
    top: 0px;
    right: 0px;
    bottom: 0px;
    left: 0px;
}

body {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.img {
    display: flex;
    justify-content: center;
}

.tout {
    width: 80%;
    margin-left: auto;
    margin-right: auto;
}

.a-propos {
    font-size: 15pt;
    color: #007e79;
    border-bottom: none;
    font-weight: bold;
}

.texte-corps p,
.texte-corps ul {
    text-align: justify;
    font-size: 12pt;
}
.corps p,
.corps ul li,
a {
    text-align: justify;
    font-size: 12pt;
}

.elements-alignes-a-gauche {
    width: 60%;
    display: flex;
    justify-content: flex-start;
    margin-top: 5%;
}

.nouvelle-ligne {
    min-width: 150px;
}

.logos {
    display: flex;
    width: 100%;
    justify-content: space-between;
    margin-top: 20px;
}

.logos p {
    font-size: 12pt;
}

.images-soutenu-par img {
    height: 40px;
    width: auto;
    margin-right: 15px;
}

.images-soutenu-par .logo-region {
    height: 30px;
    width: auto;
}

.images-partenaires img {
    height: 40px;
    width: auto;
    margin-right: 15px;
}

.images-partenaires,
.images-soutenu-par {
    display: flex;
    align-items: center;
    height: 40px;
    width: auto;
    margin-bottom: 50px;
}

.images-partenaires #enedis {
    height: 20px;
    width: auto;
}

.images-partenaires #inria {
    height: 25px;
    width: auto;
}

.images-partenaires .petite-taille {
    height: 60px;
    width: auto;
}

.images {
    display: flex;
}

.download {
    display: inline;
    float: right;
    margin-top: 14px;
    margin-right: 14px;
    float: right;
    font-size: 10px;
    color: white;
}

.download:hover,
.download:focus {
    background-color: rgba(230, 230, 230, 0.7);
}
.download-vert-aura-ee,
.download-vert-france,
.bouton-personnalisable-vert-aura-ee,
.bouton-personnalisable-vert-france {
    background-color: var(--vert-aura-ee);
}
.download-vert-occitanie,
.bouton-personnalisable-vert-occitanie {
    background-color: var(--vert-occitanie);
}
.download-vert-nouvelle,
.bouton-personnalisable-vert-nouvelle-aquitaine {
    background-color: var(--vert-nouvelle-aquitaine);
}
.download-vert-paysdelaloire,
.bouton-personnalisable-vert-paysdelaloire {
    background-color: var(--vert-paysdelaloire);
}
.download-vert-bretagne,
.bouton-personnalisable-vert-bretagne {
    background-color: var(--vert-bretagne);
}

.download-vert-corse,
.bouton-personnalisable-vert-corse {
    background-color: var(--vert-corse);
}

.download-vert-aura-ee:hover,
.download-vert-france:hover,
.download-vert-aura-ee:focus,
.download-vert-france:focus,
.bouton-personnalisable-vert-aura-ee:focus,
.bouton-personnalisable-vert-france:focus,
.bouton-personnalisable-vert-aura-ee:hover,
.bouton-personnalisable-vert-france:hover {
    color: var(--vert-aura-ee);
}
.download-vert-occitanie:hover,
.download-vert-occitanie:focus,
.bouton-personnalisable-vert-occitanie:hover,
.bouton-personnalisable-vert-occitanie:focus {
    color: var(--vert-occitanie);
}
.download-vert-nouvelle-aquitaine:hover,
.download-vert-nouvelle-aquitaine:focus,
.bouton-personnalisable-vert-nouvelle-aquitaine:hover,
.bouton-personnalisable-vert-nouvelle-aquitaine:focus {
    color: var(--vert-nouvelle-aquitaine);
}
.download-vert-paysdelaloire:hover,
.download-vert-paysdelaloire:focus,
.bouton-personnalisable-vert-paysdelaloire:hover,
.bouton-personnalisable-vert-paysdelaloire:focus {
    color: var(--vert-paysdelaloire);
}
.download-vert-bretagne:hover,
.download-vert-bretagne:focus,
.bouton-personnalisable-vert-bretagne:hover,
.bouton-personnalisable-vert-bretagne:focus {
    color: var(--vert-bretagne);
}

.download-vert-corse:hover,
.download-vert-corse:focus {
    color: var(--vert-corse);
}

#all-trajectoire {
    display: flex;
    flex-direction: column;
    position: relative;
    justify-content: space-between;
}

#pcaet-ademe {
    position: absolute;
    left: 0;
}

/* toggle button */
label.switch {
    position: relative;
    display: inline-block;
    width: 30px;
    height: 17px;
}

label.switch input {
    opacity: 0;
    width: 0;
    height: 0;
}

.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    -webkit-transition: 0.4s;
    transition: 0.4s;
}

.slider:before {
    position: absolute;
    content: "";
    height: 13px;
    width: 13px;
    left: 2px;
    bottom: 2px;
    background-color: white;
    -webkit-transition: 0.4s;
    transition: 0.4s;
}

input:checked + .slider {
    background-color: #0dcaf0;
}

input:focus + .slider {
    box-shadow: 0 0 1px #0dcaf0;
}

input:checked + .slider:before {
    -webkit-transform: translateX(13px);
    -ms-transform: translateX(13px);
    transform: translateX(13px);
}

/* Rounded sliders */
.slider.round {
    border-radius: 17px;
}

.slider.round:before {
    border-radius: 50%;
}
/* End toggle button */
/* editeur markdown */
#markdown-editeur {
    display: block;
    width: 700px;
    margin-top: 2%;
}

.pop-up-accueil {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    position: relative;
}

.bouton-editeur-pop-up {
    background-color: white;
    border: none;
    transition: transform 0.1s;
}

.bouton-editeur-pop-up:hover {
    transform: scale(1.1);
}

#bouton-editeur-pop-up-suivant {
    position: absolute;
    right: 80px;
    bottom: -80px;
}

#info-bouton-editeur-pop-up-suivant {
    position: absolute;
    right: 140px;
    bottom: -80px;
    margin-bottom: 10px;
}

/* fin editeur markdown */

/* page d'ajout d'images (editeur pop-up) */
#number-carousel {
    width: 3%;
    height: 3%;
}

#ensemble-boutons-carousel {
    display: flex;
    flex-direction: row;
    align-items: center;
}

#ensemble-boutons-carousel button {
    margin: 20px;
    font-size: 1.2em;
    background-color: white;
    border-radius: 5px;
}

#ensemble-boutons-carousel label {
    font-size: 1.2em;
}

.pop-up-carousel {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
#interface-image {
    display: flex;
    flex-direction: column;
}

#bouton-editeur-pop-up-retour {
    position: fixed;
    left: 80px;
    bottom: 80px;
}

#info-bouton-editeur-pop-up-retour {
    position: fixed;
    left: 140px;
    bottom: 78px;
    margin-bottom: 10px;
}

#bouton-editeur-pop-up-validation {
    position: fixed;
    right: 80px;
    bottom: 80px;
}

#info-bouton-editeur-pop-up-validation {
    position: fixed;
    right: 140px;
    bottom: 78px;
    margin-bottom: 10px;
}

.size-img-editeur-pop-up {
    height: 60px;
    width: 100px;
}

/* Fin page d'ajout d'images */

/* Gestionnaire images carousel */
.AppImage {
    display: flex;
    flex-direction: row;
    height: 100px;
    margin-bottom: 10px;
}

.image-item {
    display: flex;
    margin: 10px;
}

.image-item__btn-wrapper {
    display: flex;
    flex-wrap: nowrap;
}

.image-item__btn-wrapper button {
    margin-left: 10px;
}

#img-for-carousel {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
}

.button-ajout-supp-img {
    margin: 5px;
    font-size: 1.2em;
    background-color: white;
    border-radius: 5px;
}

.title-carroussel {
    margin: 1%;
    margin-top: 2.5%;
}

/* Fin gestionnaire images carousel */

/* Balise span pour carousel */
.carousel:hover {
    color: blue;
    text-decoration: underline blue;
}

/* page accueil scroll bar pop up accueil pour le navigateur firefox */
.scroller-page-accueil {
    overflow-y: auto;
    scrollbar-width: thin;
}

/* Scrollbar avec style pour toutes les pages de l'app et tous les navigateurs sauf edge et firefox */
/* largeur de la scrollbar */
::-webkit-scrollbar {
    width: 6px;
}
/* scrollbar */
::-webkit-scrollbar-thumb {
    background: #808080;
    border-radius: 10px;
}
/* Passage de la souris sur la scrollbar */
::-webkit-scrollbar-thumb:hover {
    background: #696969;
}

/* converti la taille des images présentes à l'intérieur du carousel dans la bonne dimension */
.rsis-container div {
    background-size: 560px 350px !important;
}

/* bouton pdf dans la div float-widget du component Infos.js */
.pdf-float-widget {
    position: absolute;
    top: 0px;
    right: 10px;
}

/* partie responsive pour écran standard */
@media screen and (max-height: 900px) {
    /* modifie la taille de l'image à l'intérieur du carousel */
    .rsis-container div {
        background-size: 450px 200px !important;
    }
}

@-webkit-keyframes spin {
    0% {
        -webkit-transform: rotate(0deg);
    }
    100% {
        -webkit-transform: rotate(360deg);
    }
}

@keyframes spin {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}

/* For small devices */
@media all and (max-width: 800px) {
    .ol-zoom,
    .ol-attribution {
        display: none;
    }

    .footer img {
        max-height: 40px;
    }
}

.react-tooltip-custom {
    font-weight: bold;
}

/* IE */
@media all and (-ms-high-contrast: none), (-ms-high-contrast: active) {
    .filter select {
        max-width: 190px;
    }
    .float-widget select.short {
        max-width: 85px;
    }
    .auto-complete-analysis input {
        width: 185px;
    }
}

@supports (-ms-ime-align: auto) {
    .filter select {
        max-width: 190px;
    }
    .float-widget select.short {
        max-width: 85px;
    }
    .auto-complete-analysis input {
        width: 185px;
    }
}

.table_preview_header td {
    padding-left: 5px;
    padding-right: 5px;
    border: solid 1px rgb(194, 193, 193);
}

.table_preview_header {
    border: solid 1px black;
}

.table_preview_header tr:first-child {
    font-weight: bold;
    background-color: lightgrey;
}

.table_preview_icon {
    width: 50px;
}
.link_coordinates {
    font-size: 12px;
}

.overlay-popup {
    z-index: 20;
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background: rgba(0, 0, 0, 0.7);
    transition: opacity 500ms;
    overflow: scroll;
    /* visibility: hidden; */
    /* opacity: 0; */
}
.overlay-popup:target {
    visibility: visible;
    opacity: 1;
}

.details-popup {
    z-index: 20;
    max-height: 70%;
    overflow-y: scroll;
    margin: 150px auto;
    padding: 20px;
    background: #fff;
    border-radius: 5px;
    max-width: 600px;
    position: relative;
    transition: all 5s ease-in-out;
}

.details-popup h2 {
    margin-top: 0;
    color: #333;
    font-family: Tahoma, Arial, sans-serif;
}
.details-popup .details-popup-close {
    position: absolute;
    top: 20px;
    right: 30px;
    transition: all 200ms;
    font-size: 30px;
    font-weight: bold;
    text-decoration: none;
    background: none !important;
    border: none;
    padding: 0 !important;
    color: #333;
}
.details-popup .details-popup-close:hover {
    color: gray;
}
.details-popup .details-popup-content {
    max-height: 575px;
    overflow: visible;
}

@media screen and (max-width: 700px) {
    .details-popup {
        width: 70%;
    }
}

.details-popup-content pre {
    max-height: 500px;
    margin-left: 20px;
}

.details-popup-content pre.wrap-pre {
    white-space: pre-wrap; /* Since CSS 2.1 */
    white-space: -moz-pre-wrap; /* Mozilla, since 1999 */
    white-space: -pre-wrap; /* Opera 4-6 */
    white-space: -o-pre-wrap; /* Opera 7 */
    word-wrap: break-word; /* Internet Explorer 5.5+ */
}
.details-popup-content {
    text-align: left;
    overflow: auto;
}

.details-popup-content .form-control {
    margin-left: 0px;
    width: 90%;
}

.responsive-popup {
    position: relative;
    z-index: 20;
    background: #fff;
    margin: 100px auto;
    padding: 16px;
    border-radius: 10px;
    width: 600px;
    max-width: calc(100% - 24px);
    font-size: 16px;
}
.responsive-popup.large {
    width: 1200px;
    overflow-x: scroll;
}
.responsive-popup-close {
    position: absolute;
    top: 20px;
    right: 30px;
    font-size: 30px;
    font-weight: bold;
    background: none;
    border: transparent;
    color: #333;
}
@media all and (max-width: 660px) {
    .responsive-popup {
        max-width: 100%;
        width: 100%;
        min-height: calc(100% - 80px);
        margin: 60px 0 20px 0;
    }
}

.strategy-trajectories-legend {
    display: flex;
    align-items: center;
}

.strategy-trajectories-legends {
    margin-top: 10px;
    margin-bottom: 10px;
    display: block;
    width: 100%;
}

.strategy-trajectories-legends > div {
    margin-left: auto;
    margin-right: auto;
    width: 40%;
}

.category-switch,
.category-selection,
.content.sources-analysis {
    margin-top: 1rem;
    padding-top: 0px;
    padding-left: calc(var(--bs-gutter-x) * 0.5);
    width: 100%;
}

.content.sources-analysis a {
    font-size: 1em;
}

.analysis-sources-form {
    text-align: left;
    margin-left: 5px;
}

.analysis-sources-form-empty {
    text-align: left;
    margin-left: 28px;
}

.analysis-sources-url-form {
    display: grid;
    grid-template-columns: 1fr 5fr 1fr 5fr 1fr;
}

.analysis-sources-url-form p {
    margin: 0px;
}

.analysis-sources-data-form {
    display: grid;
    grid-template-columns: 1fr 5fr 1fr 5fr 1fr 5fr 1fr;
}

.analysis-sources-data-form p {
    margin: 0px;
}

.analysis-launcher {
    min-width: auto;
}

.analysis-launcher-button {
    display: flex;
    border-radius: 20px;
    padding: 8px;
    margin: 0px 0px 8px;
    justify-content: space-around;
    min-width: 80px;
    max-width: 250px;
    font-size: 16px;
    margin-left: 3px;
    text-align: center;
}

.analysis-legend-star,
.analysis-popup-star {
    display: inline-block;
    height: 20px;
}
.analysis-popup-star {
    margin-left: 7px;
}
.analysis-full-legend-star {
    width: 20px;
    -webkit-mask: url("../img/full_star.svg") no-repeat center;
    mask: url("../img/full_star.svg") no-repeat center;
}
.analysis-empty-legend-star {
    width: 20px;
    background-color: gray;
    -webkit-mask: url("../img/empty_star.svg") no-repeat center;
    mask: url("../img/empty_star.svg") no-repeat center;
}

label[title]:not([title=""]),
span[title]:not([title=""]) {
    text-decoration: underline dotted;
}

.markdown-changelog .wmde-markdown {
    font-family: inherit;
    line-height: 18px;
}

.markdown-changelog h2 {
    font-size: 20px;
    color: #007e79;
}
.markdown-changelog h3 {
    font-size: 1.15em;
}

.markdown-changelog .wmde-markdown a {
    text-decoration: underline;
}

.larger-logo.img img {
    height: 150px;
    margin-top: 20px;
    margin-bottom: 0px;
}

.export-data-button-in-popup {
    margin-top: 10px;
}

.export-tdb-methodo-pdf {
    display: inline-block;
    margin-left: 70%;
}

.estimated-data-legend {
    text-align: center;
}

div.buttons-add-elements-group {
    display: flex;
    justify-content: center;

    margin-top: 10px;
    min-width: 200px;
}

div.buttons-add-elements-group > button {
    margin: 0px 5px;
}

.toggle-comparison {
    text-align: center;
    font-size: 14px;
    margin: 15px 0;
}
.toggle-comparison input {
    margin-top: 2px;
}

.graphs-inside-group {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
}

.territories-are-2 .graphs-inside-group .regional-graphs {
    width: 50%;
}

.territories-are-3 .graphs-inside-group .regional-graphs {
    width: 33%;
}

.regional-graphs {
    width: 100%;
}

.dashboard-territory-choice {
    margin-left: 40px;
    margin-right: 40px;
}

.dashboard-territory-choice h2 {
    text-align: center;
}

.territories-names {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    column-gap: 20px;
    width: 100%;
}

.territories-are-2 .territories-names h3 {
    width: 50%;
    text-align: center;
}

.territories-are-3 .territories-names h3 {
    width: 33%;
    text-align: center;
}

.category-edition-title {
    margin-top: 10px;
    margin-bottom: 10px;
    font-weight: bold;
}

.ordering-elements-panel {
    overflow-x: scroll;
}

.cursor-pointer {
    cursor: pointer;
}

.ReactTable li,
.ReactTable ul {
    text-align: start;
}

.pull-button {
    margin-left: 5px;
}

#confirm-dialog {
    border-radius: 10px;
}
#confirm-dialog .dialog-buttons {
    display: flex;
    justify-content: end;
}
#confirm-dialog button {
    margin: 5px;
}

.has-error {
    color: red;
}

.user-edition-content .form-group {
    width: 100%;
}
.user-edition-content .form-group > label:first-child {
    width: 20%;
    text-align: right;
}

.pcaet_table {
    text-align: center;
    vertical-align: middle;
}

.pcaet_table td {
    padding-top: 5px;
    padding-bottom: 5px;
}

.pcaet_table th {
    width: 70px;
    border-bottom: 1px solid #777777;
    background-color: #efefefaa;
    padding: 5px;
}
.pcaet_table tr td:first-child {
    width: 130px;
}

.pcaet_table tr td:first-child,
.pcaet_table tr th:first-child {
    border-right: 1px solid #777777;
    background-color: #efefefaa;
}
.pcaet_table tr td:last-child,
.pcaet_table tr th:last-child {
    border-left: 1px solid #777777;
    background-color: #efefefaa;
}

.pcaet_table .evol_digit {
    font-size: 0.9rem;
    font-style: italic;
}

.pcaet_table_legend {
    font-weight: bold;
    text-align: center;
    margin-top: 5px;
}

.small-links a {
    font-size: 1em;
}

.text-block {
    min-width: 700px;
}
.text-block .w-md-editor {
    width: 700px;
}

.text-block .w-md-editor-fullscreen,
#dashboard-description.w-md-editor-fullscreen {
    top: 100px;
    left: 50px;
    right: 50px;
    bottom: 100px;
    width: 90%;
    height: 100% !important;
    z-index: 5000 !important; /* greater than "delete dashboard block" button */
}

.text-block-show {
    width: 100%;
    border: 1px solid var(--vert-primary);
    border-radius: 10px;
    padding: 10px;
}

.back-to-map {
    position: fixed;
    z-index: 10;
    padding-left: 8px;
    text-decoration: none;
    color: gray;
    background-color: white;
}
.back-to-map span {
    vertical-align: middle;
}

.pcaet-aggregation-filter {
    display: flex;
    justify-content: start;
    text-align: left;
    margin-bottom: 32px;
}
.pcaet-aggregation-filter fieldset {
    margin: 0 12px;
    padding: 4px;
    max-width: 15em;
    background-color: rgba(0, 0, 0, 0.03);
}
.pcaet-aggregation-filter label {
    display: block;
}

button.unstyled {
    border: none;
    background: none;
}
a.unstyled {
    color: inherit;
    text-decoration: none;
}

details[disabled] > summary,
details.disabled > summary {
    pointer-events: none;
    color: var(--col-gray-text);
}
details.tsdetails {
    margin-top: 16px;
    margin-bottom: 8px;
}
details.tsdetails[open] {
    margin-bottom: 32px;
}
details.tsdetails > summary {
    font-size: var(--font-size-big);
    margin-bottom: 8px;
}
details.tsdetails > :not(summary),
details.tsdetails > .advanced-params > .reactgrid {
    /* If children of details have a vertical gap between them, they should be together
    in a div for the border to be in one piece. */
    margin-left: 4px;
    padding-left: 12px;
    border-left: solid var(--col-gray-border) 2px;
}
details.tsdetails > p.disclaimer {
    margin-left: 0px;
    border-left: 0px;
    font-style: italic;
    color: var(--col-gray-text);
}
details.tsdetails > .advanced-params {
    margin-left: 0px;
    border-left: 0px;
    margin-bottom: 20px;
}
details.tsdetails > .advanced-params h4 {
    margin-bottom: 15px;
}

.tscards-container {
    display: flex;
    flex-wrap: wrap;
    gap: var(--gap);
}
.tscard {
    text-align: left;
    width: var(--width-4);
    height: fit-content;
    padding: 8px;
    background: none;
    border: solid 1px var(--col-gray-border);
    border-radius: 10px;
    box-shadow: 0px 2px 4px #0006;
}
.tscard h3 {
    font-size: var(--font-size-big);
    font-weight: normal;
}
.tscard h4 {
    font-size: var(--font-size-medium);
    font-weight: normal;
}

.form-control-small {
    margin-top: 12px;
}
