#sankey {
    position: inherit;
}

.gg_label {
    font-family: Cormorant;
}

#sankey-content {
    height: 100%;
    position: relative;
    margin-bottom: 100px;
}

#sankey-content .export-date {
    visibility: hidden;
    font-size: 14px;
    text-align: right;
    margin-right: 30px;
    margin-top: 10px;
    margin-bottom: 10px;
    height: 24px;
}

.sankey_copyright {
    text-align: right;
    font-size: larger;
    font-style: italic;
    margin-right: 20px;
    margin-left: 20px;
}

.sankey_intro {
    font-size: larger;
    text-align: left;
    margin-right: 20px;
    margin-left: 20px;
}

#sankey_with_buttons {
    background-color: white;
    border: 1px solid #ddd;
    overflow: scroll;
}

.sankey_fullscreen {
    text-align: right;
    margin-bottom: -60px;
    margin-top: 30px;
    margin-right: 40px;
    margin-left: 30px;
    position: relative;
    z-index: 100;
}

.sankey-print-button,
.sankey-printing-button {
    background: url("../img/icon_print.png") no-repeat center center;
    width: 20px;
    height: 20px;
    display: inline-block;
    position: absolute;
    z-index: 100;
    right: 80px;
}
.loader.sankey-printing-button {
    width: 20px;
    height: 20px;
}
.sankey-print-button-vert-france {
    background: url("../img/icon_print.png") no-repeat center center;
}
.sankey-print-button-vert-nouvelle-aquitaine {
    background: url("../img/icon_print_vert_nouvelle_aquitaine.png") no-repeat center
        center;
}
.sankey-print-button-vert-occitanie {
    background: url("../img/icon_print_vert_occitanie.png") no-repeat center center;
}
.sankey-print-button-vert-paysdelaloire {
    background: url("../img/icon_print_vert_paysdelaloire.png") no-repeat center center;
}
.sankey-print-button-vert-bretagne {
    background: url("../img/icon_print_vert_bretagne.png") no-repeat center center;
}
.sankey-print-button-vert-corse {
    background: url("../img/icon_print_vert_corse.png") no-repeat center center;
}

.sankey-fullscreen-button,
.sankey-exit-fullscreen-button {
    width: 20px;
    height: 20px;
    display: inline-block;
    vertical-align: top;
    margin-left: 10px;
    position: absolute;
    z-index: 100;
    right: 40px;
}
.sankey-fullscreen-button-vert-aura-ee {
    background: url("../img/fullscreen-aura-ee.svg") no-repeat center center;
}
.sankey-fullscreen-button-vert-nouvelle-aquitaine {
    background: url("../img/fullscreen-nouvelle-aquitaine.svg") no-repeat center center;
}
.sankey-fullscreen-button-vert-occitanie {
    background: url("../img/fullscreen-occitanie.svg") no-repeat center center;
}
.sankey-fullscreen-button-vert-paysdelaloire {
    background: url("../img/fullscreen-paysdelaloire.svg") no-repeat center center;
}
.sankey-fullscreen-button-vert-bretagne {
    background: url("../img/fullscreen-bretagne.svg") no-repeat center center;
}
.sankey-fullscreen-button-vert-corse {
    background: url("../img/fullscreen-corse.svg") no-repeat center center;
}
.sankey-exit-fullscreen-button-vert-aura-ee {
    background: url("../img/exit_fullscreen-aura-ee.svg") no-repeat center center;
}
.sankey-exit-fullscreen-button-vert-nouvelle-aquitaine {
    background: url("../img/exit_fullscreen-nouvelle-aquitaine.svg") no-repeat center
        center;
}
.sankey-exit-fullscreen-button-vert-occitanie {
    background: url("../img/exit_fullscreen-occitanie.svg") no-repeat center center;
}
.sankey-exit-fullscreen-button-vert-paysdelaloire {
    background: url("../img/exit_fullscreen-paysdelaloire.svg") no-repeat center center;
}
.sankey-exit-fullscreen-button-vert-bretagne {
    background: url("../img/exit_fullscreen-bretagne.svg") no-repeat center center;
}
.sankey-exit-fullscreen-button-vert-corse {
    background: url("../img/exit_fullscreen-corse.svg") no-repeat center center;
}

.sankey-confidential-data {
    height: 85px;
    padding-top: 40px;
    text-align: center;
}

.sankey-tooltip:empty {
    display: none;
}

.front-of-sankey {
    z-index: 10;
    position: relative;
}

.close-big-sankey {
    z-index: 10;
    position: fixed;
}

.logo-sankey-print {
    visibility: hidden;
    position: fixed;
    top: 80px;
    right: 20px;
    width: 450px;
    height: 90px;
    z-index: 10;
}

.logo-sankey-vert-nouvelle-aquitaine {
    background: rgba(255, 255, 255, 1)
        url("../img/logo_TerriSTORY_region_nouvelle_aquitaine_small.png") no-repeat
        center center;
    background-position: right;
    background-size: auto 90px;
}

.logo-sankey-vert-occitanie {
    background: rgba(255, 255, 255, 1)
        url("../img/logo_TerriSTORY_region_occitanie.png") no-repeat center center;
    background-position: right;
    background-size: auto 90px;
}

.logo-sankey-vert-aura-ee {
    background: rgba(255, 255, 255, 1)
        url("../img/logo_TerriSTORY_region_aura_small.png") no-repeat center center;
    background-position: right;
    background-size: auto 90px;
}

.logo-sankey-vert-paysdelaloire {
    background: rgba(255, 255, 255, 1)
        url("../img/logo_TerriSTORY_region_paysdelaloire.png") no-repeat center center;
    background-position: right;
    background-size: auto 90px;
}

.logo-sankey-vert-bretagne {
    background: rgba(255, 255, 255, 1) url("../img/logo_TerriSTORY_region_bretagne.png")
        no-repeat center center;
    background-position: right;
    background-size: auto 90px;
}

.logo-sankey-vert-corse {
    background: rgba(255, 255, 255, 1) url("../img/logo_TerriSTORY_region_corse.png")
        no-repeat center center;
    background-position: right;
    background-size: auto 90px;
}
