/*
 * TerriSTORY®
 *
 © Copyright 2022 AURA-EE
 *
 * This program is free software: you can redistribute it and/or modify
 * it under the terms of the GNU Affero General Public License as published by
 * the Free Software Foundation, either version 3 of the License, or
 * (at your option) any later version.
 *
 * This program is distributed in the hope that it will be useful,
 * but WITHOUT ANY WARRANTY; without even the implied warranty of
 * MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE. See the
 * GNU Affero General Public License for more details.
 *
 * A copy of the GNU Affero General Public License should be present along
 * with this program at the root of current repository. If not, see
 * http://www.gnu.org/licenses/.
 */

.ZoneSelect {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    font-size: 16px;
}

.ZoneSelect label {
    margin-right: 8px;
    text-align: right;
}
.ZoneSelect select {
    height: 32px;
    width: 120px;
    background: var(--col-gray-bg);
    border: solid 1px var(--col-gray-border);
    border-radius: 4px;
}
/* TODO: import classes from react-select ? */
.ZoneSelect :global(.react-select__control) {
    margin: 0 4px;
    min-height: 0;
    height: 32px;
    width: 200px;
    background: var(--col-gray-bg);
    border: solid 1px var(--col-gray-border);
    border-radius: 4px;
}
.ZoneSelect :global(.react-select__indicator) {
    padding: 2px;
}
.ZoneSelect :global(.react-select__placeholder) {
    text-overflow: ellipsis;
    white-space: nowrap;
    max-width: 100%;
}

.mainZoneSelectContainer {
    /* This container element is only used to center the .main-zone-select element */
    position: absolute;
    top: 60px;
    width: 100%;
    display: flex;
    justify-content: center;
    padding-left: 50px; /* Left toolbar width */
    pointer-events: none;
}
.MainZoneSelect {
    position: relative;
    padding: 1rem;
    z-index: 90;
    background: #fff;
    border: 1px solid #ccc;
    box-shadow: 4px 4px 4px rgba(100, 100, 100, 0.2);
    border-radius: 0px 0px 10px 10px;
    pointer-events: all;
}

.AutoCompleteZone {
    margin-left: 5px;
}
.AutoCompleteZone input {
    transition: width 0.1s ease;
}
