:root {
    --vert-aura-ee: #007f7b;
    --vert-nouvelle-aquitaine: #189672;
    --vert-occitanie: #17b752;
    --vert-paysdelaloire: #005ea7;
    --vert-bretagne: #000000;
    --vert-corse: #86a315;
}

.block-category-restitution {
    display: flex;
    flex-direction: column;
    margin-bottom: 60px;
    width: 90%;
    text-align: justify;
    font-size: 14pt;
}

.block-category-restitution p {
    display: inline-block;
    font-size: 1.75rem;
    margin: 10px;
}

.lien-simulateur {
    display: flex;
    margin-top: 10px;
}

.lien-simulateur a {
    padding: 10px;
    font-size: 0.8em;
    margin: 20px;
    max-width: 250px;
    border-radius: 10px;
}

/* Create two equal columns that floats next to each other */
.column-simulateur {
    float: left;
    width: 50%;
    padding: 10px;
    max-height: 75vh;
    overflow-y: auto;
    scrollbar-width: thin;
}

/* Clear floats after the columns */
.row-simulateur:after {
    content: "";
    display: table;
    clear: both;
}

.right-column-simulateur {
    border-left: thick solid #bfbfbf;
}

.slider-simulateur {
    margin: 10px;
    margin-bottom: 30px;
    width: 90%;
}
.slider-simulateur .rc-slider-track {
    border-radius: 0%;
    height: 14px;
}
.paysdelaloire .rc-slider-track {
    background-color: var(--vert-paysdelaloire);
}
.occitanie .rc-slider-track {
    background-color: var(--vert-occitanie);
}
.auvergne-rhone-alpes .rc-slider-track {
    background-color: var(--vert-aura-ee);
}
.corse .rc-slider-track {
    background-color: var(--vert-corse);
}
.bretagne .rc-slider-track {
    background-color: var(--vert-bretagne);
}
.nouvelle-aquitaine .rc-slider-track {
    background-color: var(--vert-nouvelle-aquitaine);
}

.slider-simulateur .rc-slider-rail {
    border-radius: 0%;
    height: 14px;
}

.paysdelaloire .rc-slider-rail {
    background-color: var(--vert-paysdelaloire);
    opacity: 0.5;
}
.auvergne-rhone-alpes .rc-slider-rail {
    background-color: var(--vert-aura-ee);
    opacity: 0.5;
}
.nouvelle-aquitaine .rc-slider-rail {
    background-color: var(--vert-nouvelle-aquitaine);
    opacity: 0.5;
}
.bretagne .rc-slider-rail {
    background-color: var(--vert-bretagne);
    opacity: 0.5;
}
.corse .rc-slider-rail {
    background-color: var(--vert-corse);
    opacity: 0.5;
}
.occitanie .rc-slider-rail {
    background-color: var(--vert-occitanie);
    opacity: 0.5;
}

.slider-simulateur .rc-slider-handle {
    border-radius: 0%;
    width: 0px;
    margin-top: -2px;
    height: 18px;
}

.paysdelaloire .rc-slider-handle {
    border: solid 2px var(--vert-paysdelaloire);
}
.occitanie .rc-slider-handle {
    border: solid 2px var(--vert-occitanie);
}
.auvergne-rhone-alpes .rc-slider-handle {
    border: solid 2px var(--vert-aura-ee);
}
.nouvelle-aquitaine .rc-slider-handle {
    border: solid 2px var(--vert-nouvelle-aquitaine);
}
.bretagne .rc-slider-handle {
    border: solid 2px var(--vert-bretagne);
}
.corse .rc-slider-handle {
    border: solid 2px var(--vert-corse);
}

.slider-simulateur .rc-slider-dot {
    display: none;
}

.slider-simulateur .rc-slider-mark-text {
    margin-top: 3px;
    display: block ruby;
}

.slider-simulateur-impact .rc-slider-mark-text {
    margin-top: 15px;
}

/* .slider-simulateur .rc-slider-handle:before {
    content: attr(aria-valuenow) ;
   
} */

.comment-impact {
    color: red;
    font-size: 0.95rem;
    margin-left: 10px;
}

.slider-simulateur-impact {
    margin: 10px;
    margin-bottom: 30px;
    width: 85%;
}

.slider-enr {
    width: 40%;
}

.slider-overflowed.slider-simulateur-impact {
    max-width: 100%;
}

.slider-simulateur-impact .rc-slider-rail {
    border-radius: 0%;
    height: 25px;
}

.slider-simulateur-impact .rc-slider-dot {
    display: none;
}

.slider-simulateur-impact .rc-slider-mark-text {
    margin-top: 15px;
}

.slider-simulateur-impact .rc-slider-rail {
    border: thin solid #404040;
}

.slider-simulateur-impact .rc-slider-track {
    border: thin solid #404040;
}
/* impact-ener  */
.slider-simulateur-impact.impact-ener .rc-slider-track {
    background-color: #b55a30;
    border-radius: 0%;
    height: 25px;
}

.slider-simulateur-impact.impact-ener .rc-slider-rail {
    background-color: #b55a3033;
}

.slider-simulateur-impact.impact-ener .rc-slider-handle {
    border: solid 2px #b55a30;
    border-radius: 0%;
    width: 0px;
    margin-top: 0px;
    height: 25px;
}

.slider-simulateur-impact.impact-ener.over-handle-border .rc-slider-handle {
    background-color: #b55a3033;
    border: solid 0 #b55a3033;
    width: 50px;
}
/* impact-ener when overflowed  */
.slider-overflowed.slider-simulateur-impact.impact-ener .rc-slider-rail {
    background-color: #b55a30;
    border: none;
}

.slider-overflowed.slider-simulateur-impact.impact-ener .rc-slider-handle {
    border: none;
    border-radius: 0%;
    width: 0px;
    margin-top: 0px;
    height: 0px;
}
/* impact-carbone */
.slider-simulateur-impact.impact-carbone .rc-slider-track {
    background-color: #9a8b4f;
    border-radius: 0%;
    height: 25px;
}

.slider-simulateur-impact.impact-carbone .rc-slider-rail {
    background-color: #9a8b4f33;
}

.slider-simulateur-impact.impact-carbone .rc-slider-handle {
    border: solid 2px #9a8b4f;
    border-radius: 0%;
    width: 0px;
    margin-top: 0px;
    height: 25px;
}

.slider-simulateur-impact.impact-carbone.over-handle-border .rc-slider-handle {
    background-color: #9a8b4f33;
    border: solid 0 #9a8b4f33;
    width: 50px;
}
/* impact-carbone when overflowed  */
.slider-overflowed.slider-simulateur-impact.impact-carbone .rc-slider-rail {
    background-color: #9a8b4f;
    border: none;
}

.slider-overflowed.slider-simulateur-impact.impact-carbone .rc-slider-handle {
    border: none;
    border-radius: 0%;
    width: 0px;
    margin-top: 0px;
    height: 0px;
}
/* impact-atmo  */
.slider-simulateur-impact.impact-atmo .rc-slider-track {
    background-color: #990000;
    border-radius: 0%;
    height: 25px;
}

.slider-simulateur-impact.impact-atmo .rc-slider-rail {
    background-color: #99000033;
}

.slider-simulateur-impact.impact-atmo .rc-slider-handle {
    border: solid 2px #990000;
    border-radius: 0%;
    width: 0px;
    margin-top: 0px;
    height: 25px;
}

.slider-simulateur-impact.impact-atmo.over-handle-border .rc-slider-handle {
    background-color: #99000033;
    border: solid 0 #99000033;
    width: 50px;
}
/* impact-atmo when overflowed  */
.slider-overflowed.slider-simulateur-impact.impact-atmo .rc-slider-rail {
    background-color: #990000;
    border: none;
}

.slider-overflowed.slider-simulateur-impact.impact-atmo .rc-slider-handle {
    border: none;
    border-radius: 0%;
    width: 0px;
    margin-top: 0px;
    height: 0px;
}
/* impact-facture-ener */
.slider-simulateur-impact.impact-facture-ener .rc-slider-track {
    background-color: #38761d;
    border-radius: 0%;
    height: 25px;
}

.slider-simulateur-impact.impact-facture-ener .rc-slider-rail {
    background-color: #38761d33;
}

.slider-simulateur-impact.impact-facture-ener .rc-slider-handle {
    border: solid 2px #38761d;
    border-radius: 0%;
    width: 0px;
    margin-top: 0px;
    height: 25px;
}

.slider-simulateur-impact.impact-facture-ener.over-handle-border .rc-slider-handle {
    background-color: #38761d33;
    border: solid 0 #38761d33;
    width: 50px;
}
/* impact-facture-ener when overflowed  */
.slider-overflowed.slider-simulateur-impact.impact-facture-ener .rc-slider-rail {
    background-color: #38761d;
    border: none;
}

.slider-overflowed.slider-simulateur-impact.impact-facture-ener .rc-slider-handle {
    border: none;
    border-radius: 0%;
    width: 0px;
    margin-top: 0px;
    height: 0px;
}
/* other-impacts */
.slider-simulateur-impact.other-impacts .rc-slider-track {
    background-color: #0072b5;
    border-radius: 0%;
    height: 25px;
}

.slider-simulateur-impact.other-impacts .rc-slider-rail {
    background-color: #0072b533;
}

.slider-simulateur-impact.other-impacts .rc-slider-handle {
    border: solid 2px #0072b5;
    border-radius: 0%;
    width: 0px;
    margin-top: 0px;
    height: 25px;
}

.slider-simulateur-impact.other-impacts.over-handle-border .rc-slider-handle {
    background-color: #0072b533;
    border: solid 0 #0072b533;
    width: 50px;
}

/* It should always be at the end to override the border color */
.slider-simulateur-impact.handle-border .rc-slider-handle {
    border: solid 0 #6c6b6b;
}

/* impact-ener  for EnR simulator*/
.slider-simulateur-impact.bar .rc-slider-track {
    border-radius: 0%;
    height: 25px;
}

.slider-simulateur-impact.bar .rc-slider-handle {
    border-radius: 0%;
    width: 0px;
    margin-top: 0px;
    height: 25px;
}

/* new color for energy impact for EnR simulator*/

.slider-simulateur-impact.impact-production .rc-slider-track {
    background-color: #b55a30;
}

.slider-simulateur-impact.impact-production .rc-slider-rail {
    background-color: #b55a3033;
}

.slider-simulateur-impact.impact-production .rc-slider-handle {
    border: solid 2px #b55a30;
}

.slider-simulateur-impact.impact-production.over-handle-border .rc-slider-handle {
    background-color: #b55a3033;
    border: solid 0 #b55a3033;
}

/*  new color for prod impact for EnR simulator */

.slider-simulateur-impact.impact-energy .rc-slider-track {
    background-color: #156082;
}

.slider-simulateur-impact.impact-energy .rc-slider-rail {
    background-color: #0f3445;
}

.slider-simulateur-impact.impact-energy .rc-slider-handle {
    border: solid 2px #156082;
}

.slider-simulateur-impact.impact-energy.over-handle-border .rc-slider-handle {
    background-color: #0f3445;
    border: solid 0 #0f3445;
}

/* impact-ener and impact prod for EnR when overflowed  for EnR simulator */
.slider-overflowed.slider-simulateur-impact.impact-production .rc-slider-rail {
    background-color: #b55a30;
    border: none;
}

.slider-overflowed.slider-simulateur-impact.impact-energy .rc-slider-rail {
    background-color: #156082;
    border: none;
}

.slider-overflowed.slider-simulateur-impact.bar .rc-slider-handle {
    border: none;
    border-radius: 0%;
    width: 0px;
    margin-top: 0px;
    height: 0px;
}

.checkbox-container-lever-simulator ul {
    list-style: none;
    text-align: justify;
    margin: 2px;
    padding: 2px;
}

.checkbox-container-lever-simulator-margin ul li {
    margin: 25px;
}

.checkbox-container-lever-simulator h3::before {
    content: "❖";
    display: inline-block;
    margin-left: 10px;
    margin-right: 5px;
    margin-top: 10px;
}

.checkbox-container-lever-simulator h3 {
    font-size: 1.5rem;
    text-decoration: underline;
}

.checkbox-container-category-simulator ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

.checkbox-container-category-simulator ul li {
    /* margin-bottom: 30px; */
    padding: 8px;
}

.simulator-impact i,
.checkbox-container-category-simulator ul li i {
    /* margin-bottom: 30px; */
    padding-left: 8px;
    color: #b55a30;
    display: inline-block;
}

.simulator-impact .li-complex,
.checkbox-container-category-simulator ul li .li-complex {
    padding: 0px;
    display: grid;
    grid-template-columns: 92% 7%;
}

/* When the similateur checkbox is checked, add a blue background */
.checkbox-container-category-simulator
    ul
    li
    input[type="checkbox"]:checked
    + label::before,
.simulator-impact input[type="checkbox"]:checked + label::before {
    content: "\2713";
    text-align: center;
    display: inline-block;
    vertical-align: top;
    height: 2ex;
    width: 2ex;
    text-align: center;
    color: blue;
}

.checkbox-container-category-simulator ul li input[type="checkbox"],
.simulator-impact input[type="checkbox"] {
    line-height: 2.1ex;
}

.checkbox-container-category-simulator ul li input[type="radio"],
.simulator-impact input[type="radio"],
.checkbox-container-category-simulator ul li input[type="checkbox"],
.simulator-impact input[type="checkbox"] {
    position: absolute;
    left: -999em;
}

.checkbox-container-category-simulator ul li input[type="checkbox"] + label,
.simulator-impact input[type="checkbox"] + label {
    position: relative;
    overflow: hidden;
    cursor: pointer;
}

.checkbox-container-category-simulator ul li input[type="checkbox"] + label::before,
.simulator-impact input[type="checkbox"] + label::before {
    content: "";
    display: inline-block;
    vertical-align: top;
    height: 2ex;
    width: 2ex;
    text-align: center;
    background-color: white;
    border: 1px solid rgb(166, 166, 166);
    border-radius: 4px;
    box-shadow: inset 0 2px 5px rgba(0, 0, 0, 0.25);
    margin-right: 0.5em;
    place-content: center;
}

.simulator-impact {
    display: grid;
    grid-template-columns: 92% 7%;
}

.simulator-impact .slider-simulateur-impact {
    margin-bottom: 50px;
}

.simulator-impact .impact-reduction-value {
    margin-top: 90%;
}
.simulator-impact .impact-reduction-value i {
    color: black;
    font-size: 0.8em;
    background-color: rgba(98, 241, 110, 0.3);
}

.simulator-impact .impact-reduction-value .positive {
    background-color: rgba(228, 84, 84, 0.3);
}

.simulator-impact .li-complex label {
    font-size: 0.9em;
}

.simulator-impact .li-complex .impact-reduction-value {
    margin-top: 35%;
}

.simulator .card {
    background-color: #ddd;
    border: 1px solid #979494;
    border-radius: 8px;
    margin-top: 15px;
    position: relative;
    font-size: 0.9em;
    padding: 20px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.bi-question-circle-fill {
    font-size: 0.9em;
    cursor: pointer;
    color: #b55a30;
}

.form-group {
    display: flex;
    align-items: center;
    font-size: 0.95em;
}

.form-group label {
    flex: 1;
    font-weight: bold;
    color: #333;
    font-size: 0.8em;
    margin-right: 10px;
}

.input-field {
    flex: 1;
    padding: 10px;
    font-size: 0.8em;
    border: 1px solid #777474;
    border-radius: 4px;
    box-sizing: border-box;
}

.input-field:focus {
    outline: none;
    border-color: #007bff;
    box-shadow: 0 0 5px rgba(0, 123, 255, 0.5);
}

.dashboard-container {
    font-family: Arial, sans-serif;
    margin: 20px;
}

.dashboard-row {
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
    align-items: flex-start;
}

.data-block {
    padding: 10px;
    width: 30%;
    border-radius: 8px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.non-editable-parc-block {
    background-color: #e0e0e0;
}

.editable-block {
    background-color: #c8e6c9;
}

.non-editable-bilan-block {
    background-color: #ffe0b2;
}

.data-item {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 10px;
    font-size: 1rem;
}

.data-item .data-title {
    font-weight: bold;
    margin: 0 10px;
    white-space: nowrap;
    text-align: center;
    line-height: 2;
}

.data-item .data-values {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
}

.data-input {
    width: 70px;
    padding: 5px;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 0.9rem;
    text-align: right;
}

.data-item .unit {
    display: inline;
    font-weight: bold;
    margin-left: 5px;
}

.data-input::-webkit-outer-spin-button,
.data-input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

.data-input[type="number"] {
    -moz-appearance: textfield; /* Firefox */
}

.dashboard-card {
    border: 1px solid #ddd;
    border-radius: 5px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    background-color: #fff;
    max-width: 100%;
    padding: 20px;
    position: relative;
}

.reset-container {
    display: flex;
    justify-content: flex-end;
    margin-bottom: 10px;
}

.reset-button {
    cursor: pointer;
    font-size: 1.5rem;
    color: #007bff;
    transition: color 0.3s;
}

.reset-button:hover {
    color: #0056b3;
}

.dashed-line-vertical {
    border-top: 1px dashed #747474;
    width: 100%;
    margin: 20px 0;
}

.dashed-line-horizontal {
    position: relative;
    border-left: 1px dashed #bfbfbf;
    padding-left: 10px;
    margin-top: 30px;
    margin-left: 20px;
}

.dashed-line-horizontal::before {
    content: "→";
    position: absolute;
    left: -20px;
    top: -40px;
    font-size: 40px;
    color: #6c757d;
}

.plus-sign {
    font-size: 2rem;
    font-weight: bold;
    margin: 0 10px;
    align-self: center;
}

.equals-sign {
    font-size: 2rem;
    font-weight: bold;
    margin: 0 10px;
    align-self: center;
}

/* Image container styling for huseful help icon */

.simulator .image-container {
    display: flex;
    align-items: center;
    width: auto;
}

.header-image {
    display: flex;
    align-items: center;
    gap: 10px;
}

.simulator .image-container img {
    width: 30px;
    height: auto;
    margin-right: 5px;
}

.useful-infos {
    font-size: 0.9rem;
    text-decoration: underline;
    color: #282727;
}

.two-columns {
    display: flex;
    gap: 20px;
    margin-top: 10px;
    margin-bottom: 20px;
    margin-left: 20px;
}

.two-columns .header {
    display: block;
    font-size: 0.9em;
    text-decoration: underline;
    margin-left: 10px;
}

.column {
    flex: 1;
}

.column .header {
    font-size: 0.9em;
    text-decoration: underline;
    margin-left: 10px;
}

.impact-row {
    display: flex;
    align-items: center;
}

.impact-row input {
    font-size: 0.9em;
}

.impact-row p {
    font-size: 0.7em;
    display: block;
    width: 100px;
    /* word-wrap: break-word; */
    white-space: normal;
    overflow-wrap: break-word;
    text-align: left;
}

.impact-row p.text {
    border: solid #6ea45cdd;
    border-radius: 5px;
    background-color: #c7e6bddd;
    padding: 5px;
}

.action-help {
    display: flex;
    flex-direction: column;
    gap: 12px;
    font-size: 0.7em;
}

.left-column,
.right-column {
    flex: 1;
}

.left-column ul,
.right-column ul {
    list-style-type: none;
    padding: 0;
}

.left-column li,
.right-column li {
    margin-bottom: 10px;
}

.active-button-complex-display {
    background-color: #00b3d7 !important;
    color: white !important;
    border: 1px solid #06788f !important;
}

.button-complex-display {
    background-color: white;
    color: black;
    border: 1px solid #ddd;
    border-radius: 3px;
    padding: 5px 10px;
    margin: 5px;
    cursor: pointer;
}
.button-complex-display:hover {
    background-color: #f0f0f0;
}
