.big {
    font-size: 40px;
}

.ui-main {
    --gap: 12px;
    --width-1: 96px;
    --width-2: 204px;
    --width-3: 312px;
    --width-4: 420px;
    --width-6: 636px;
    --width-12: 1284px;

    max-width: var(--width-12);
    margin: auto;
    padding-top: 32px;
    font-size: 16px;
}

.strategy-card label,
.tscard label {
    color: #555;
}

.full-width {
    margin-top: 8px;
    width: 100%;
}

.first-line {
    display: flex;
    justify-content: space-between;
}

.strategy-help-button {
    color: transparent; /* Hide accessibility label */
    border: solid 1px #f15642;
    border-radius: 4px;
}
.strategy-help .steps {
    font-size: var(--font-size-big);
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}
.strategy-help .steps li {
    width: max(25%, 168px);
    vertical-align: top;
}
.strategy-help .steps li::marker {
    font-size: var(--font-size-title);
}
.strategy-help .center-block {
    background-color: var(--col-gray-bg);
    width: min(80%, 800px);
    padding: 16px;
    border-radius: 10px;
    margin: 8px auto;
}

.dropdown-button {
    border: none;
    border-radius: 4px;
    width: 28px;
    height: 28px;
}
.dropdown-button > div {
    visibility: hidden;
    transition: visibility 0s ease 0.01s;

    position: absolute;
    border: solid 1px var(--col-gray-border);
    width: 100px;
}
.dropdown-button:focus > div,
.dropdown-button:active > div,
.dropdown-button > div:has(button:focus) {
    visibility: visible;
}
.dropdown-button button {
    display: block;
    width: 100%;
    background: white;
    border: none;
}
.dropdown-button button:hover:not([disabled]) {
    background: lightgray;
}

.full-screen-form {
    min-height: 300px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    font-size: var(--font-size-text);
}
.full-screen-form select,
.full-screen-form input[type="text"]:not(.react-select__input) {
    height: 32px;
    background: var(--col-gray-bg);
    border: solid 1px var(--col-gray-border);
    border-radius: 4px;
}
.full-screen-form .check-input {
    justify-content: start;
}

.new-strat-button {
    width: var(--width-3);
}

.strategy-edit-buttons {
    margin-bottom: 8px;
}
.strategy-edit-buttons > button {
    margin-right: var(--gap);
    min-width: var(--width-2);
}

.strategy-zone-select {
    width: 100%;
}
.strategy-zone-select > * {
    width: 50% !important;
}
.strategy-zone-select .react-select__control {
    width: auto;
}

.trajectory > * {
    margin: 16px 0;
}
.trajectory.selection-fields {
    display: flex;
}
.trajectory.selection-fields div:nth-child(even) {
    width: 50%;
    margin-left: 20px;
}

.trajectory.selection-fields ul {
    list-style: none;
    text-align: left;
}
.trajectory.selection-fields ul li {
    min-width: 270px;
}
.trajectory.selection-fields ul li input[type="checkbox"] {
    margin-right: 3px;
}

.impacts-button {
    width: var(--width-3);
}

.info-card {
    max-width: var(--width-6);
}
.right-info-card {
    float: right;
    max-width: var(--width-6);
}
@media (max-width: 1300px) {
    .right-info-card {
        float: none;
    }
}

.tabs-primary,
.tabs-secondary {
    padding: 0;
    margin-top: 32px;
}
.tabs-primary {
    border-bottom: 2px solid var(--vert-primary);
}
.tabs-secondary {
    border-bottom: 1px solid var(--vert-primary);
}
.tabs-primary .react-tabs__tab,
.tabs-secondary .react-tabs__tab {
    border-radius: 10px 10px 0 0;
    border: solid 1px var(--col-gray-border);
    border-bottom: none;
    margin-right: var(--gap);
}
.tabs-primary .react-tabs__tab {
    min-width: var(--width-2);
    border-width: 2px;
    bottom: -2px;
    font-size: var(--font-size-big);
}
.tabs-secondary .react-tabs__tab {
    min-width: calc(var(--width-3) * 0.5);
    bottom: -1px;
}
.tabs-secondary .react-tabs__tab--selected,
.tabs-primary .react-tabs__tab--selected {
    border-color: var(--vert-primary);
    font-weight: bold;
}
.tabs-primary .react-tabs__tab > span,
.tabs-secondary .react-tabs__tab > span {
    display: inline-block;
    width: 100%;
    text-align: center;
}

.rg-cell.cell-param-label {
    background-color: #f3f3f3 !important;
}
.rg-cell.cell-param-label:hover {
    min-width: fit-content;
    z-index: 1;
}
.rg-cell.cell-centered-val {
    justify-content: center;
}
.rg-cell.cell-placeholder {
    color: #666 !important;
}
.rg-cell.cell-error {
    background-color: #f7c6c6;
}
.rg-cell.cell-error::after {
    content: "✘";
    color: var(--col-danger);
    margin-left: auto;
}
.rg-cell.cell-success {
    background-color: #d6dfbf;
}
.rg-cell.cell-success::after {
    content: "✔";
    color: var(--col-success);
    margin-left: auto;
}
.rg-cell.cell-advanced-param-header {
    font-weight: bold;
}

.scrollable-grid-container {
    overflow: scroll hidden;
    padding-bottom: 16px;
}
