.footer-print {
    display: inline-flex;
}

.printable {
    visibility: hidden;
}

.logo-territorialsynthesis-print {
    width: 450px;
    height: 90px;
    z-index: 10;
}

.logo-territorialsynthesis-vert-nouvelle-aquitaine {
    background: rgba(255, 255, 255, 1)
        url("../img/logo_TerriSTORY_region_nouvelle_aquitaine_small.png") no-repeat
        center center;
    background-size: auto 60px;
    margin-left: 20px;
}

.logo-territorialsynthesis-vert-occitanie {
    background: rgba(255, 255, 255, 1)
        url("../img/logo_TerriSTORY_region_occitanie.png") no-repeat center center;
    background-size: auto 60px;
    margin-left: 20px;
}

.logo-territorialsynthesis-vert-aura-ee {
    background: rgba(255, 255, 255, 1)
        url("../img/logo_TerriSTORY_region_aura_small.png") no-repeat center center;
    background-size: auto 60px;
    margin-left: 20px;
}

.logo-territorialsynthesis-vert-paysdelaloire {
    background: rgba(255, 255, 255, 1)
        url("../img/logo_TerriSTORY_region_paysdelaloire.png") no-repeat center center;
    background-size: auto 60px;
    margin-left: 20px;
}

.logo-territorialsynthesis-vert-bretagne {
    background: rgba(255, 255, 255, 1) url("../img/logo_TerriSTORY_region_bretagne.png")
        no-repeat center center;
    background-size: auto 60px;
    margin-left: 20px;
}

.logo-territorialsynthesis-vert-corse {
    background: rgba(255, 255, 255, 1) url("../img/logo_TerriSTORY_region_corse.png")
        no-repeat center center;
    background-size: auto 60px;
    margin-left: 20px;
}

.footer-block {
    float: left;
    margin-top: 10px;
}

.footer-block img {
    margin-left: 10px;
    margin-right: 10px;
    max-height: 60px;
}

.footer-block label {
    width: 100%;
    font-style: Italic;
    text-shadow: 2px 2px rgba(100, 100, 100, 0.2);
    margin-right: 5px;
}

.footer-block label.subtitle {
    text-shadow: none;
    font-size: 10px;
}

.export-date {
    font-size: 14px;
    text-align: right;
    margin-top: 10px;
    margin-right: 10px;
    margin-bottom: 10px;
    height: 24px;
}
