<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Comparaisons des images {{ territoire }}</title>
    <style type="text/css">
        body, html {
            height:100%
         }
         
        .comparison {
            display: grid;
            grid-template-columns: 50% 50%;
            width: 100%;
        }
        
        .comparison img {
            width: 100%;
        }

        .sub-comparison {
            margin-top: 100px;
        }
        
        .screenshots {
            min-height: 100%;
            margin-bottom: 150px;
        }
    </style>
</head>
<body id="top">
    <h1>Captures d'écran</h1>
    <ul>
    {% for screenshot in screenshots %}
        <li><a href="#screenshot{{screenshot.name}}">{{ screenshot.name }}</a></li>
    {% endfor %}
    </ul>
    {% for screenshot in screenshots %}
    <div class="screenshots" id="screenshot{{ screenshot.name }}">
        <h2>{{ screenshot.name }} <a href="#top">#</a></h2>

        <p>Sur l'environnement <em>{{ screenshot.env }}</em> avec l'URL <a href="{{ screenshot.root_url }}">{{ screenshot.root_url }}</a>.</p>
        <p><em>Avant : </em><strong>{{ screenshot.before_nb_tries }} essai(s)</strong> nécessaire(s) --- <em>Après : </em><strong>{{ screenshot.after_nb_tries }} essai(s)</strong> nécessaire(s).</p>
        <p>URL finale utilisée : <a href="{{ screenshot.url }}">{{ screenshot.url }}</a></p>
        {% if screenshot.scrollings|length > 0 %}<h3>Scrolling : haut de page</h3>{% endif %}
        {% if screenshot.actions_performed|length > 0 %}<h3>Sans action</h3>{% endif %}
        <div class="comparison">
            <div><img src="{{ screenshot.before_file }}" /></div>
            <div><img src="{{ screenshot.after_file }}" /></div>
        </div>
        {% if screenshot.scrollings|length > 0 %}
            {% for scrolling in screenshot.scrollings %}
                <div class="sub-comparison">
                    <h3>Scrolling : {{ scrolling }}</h3>
                    <div class="comparison">
                        <div><img src="{{ screenshot.before_file | replace('.png', '_scroll' ~ loop.index0 ~ '.png')}}" /></div>
                        <div><img src="{{ screenshot.after_file | replace('.png', '_scroll' ~ loop.index0 ~ '.png')}}" /></div>
                    </div>
                </div>
            {% endfor %}
        {% endif %}
        {% if screenshot.actions_performed|length > 0 %}
            {% for action_performed in screenshot.actions_performed %}
                <div class="sub-comparison">
                    <h3>Action : {{ action_performed }}</h3>
                    <div class="comparison">
                        <div><img src="{{ screenshot.before_file | replace('.png', '_action' ~ loop.index0 ~ '.png')}}" /></div>
                        <div><img src="{{ screenshot.after_file | replace('.png', '_action' ~ loop.index0 ~ '.png')}}" /></div>
                    </div>
                </div>
            {% endfor %}
        {% endif %}

        <p><a href="#top">Retour en haut de page</a></p>
    </div>
    {% endfor %}
</body>
</html>