.panel {
    position: relative;
    position: fixed;
    bottom: 20px;
    margin-top: 0px;
    left: 0px;
    width: 100%;
    z-index: 98;
    overflow: visible;
    transition: height 100ms ease;
}

.panelOpen {
    height: 255px;
}

.panelCollapsed {
    height: 30px;
}

.scrollableContainer {
    display: flex;
    justify-content: space-around;
    align-items: center;
    gap: 1em;
    flex-wrap: wrap;
    background: rgba(255, 255, 255, 0.9);
    box-shadow:
        0 -1px 2px rgba(60, 64, 67, 0.2),
        0 -2px 6px 2px rgba(60, 64, 67, 0.15);
    height: 100%;
    padding: 5px 5px 5px 285px;
    transition: padding 250ms;
    overflow: auto;
}

.fullWidth {
    padding: 5px 5px 5px 50px;
}

.panelToggleButton {
    position: absolute;
    padding: 0;
    top: -20px;
    left: 50%;
    transform: translateX(-50%);
    height: 20px;
    width: 30px;
    border: none;
    background: rgba(240, 240, 240, 0.9);
    box-shadow:
        0 -1px 2px rgba(60, 64, 67, 0.2),
        0 -2px 6px 2px rgba(60, 64, 67, 0.15);
    border-radius: 4px 4px 0 0;
    z-index: -1;
}

.panelToggleIcon {
    background-color: var(--vert-primary);
    -webkit-mask: url("../../img/icon_toggle.svg") no-repeat center center;
    mask: url("../../img/icon_toggle.svg") no-repeat center center;
    height: 100%;
    transform: rotate(90deg);
}

.panelToggleIconCollapsed {
    transform: rotate(-90deg);
}
