.colorScaleContainer {
    height: 180px;
    width: 100%;
    display: flex;
}

.ticks {
    height: 100%;
    width: 100%;
    position: relative;
}

.tick {
    position: absolute;
    display: flex;
    gap: 0.25em;
    align-items: center;
    color: black;
    transform: translateY(-50%);
}

.tick::before {
    content: "";
    display: block;
    height: 1px;
    width: 4px;
    background-color: #666;
    margin-right: 4px;
}

.gradient {
    height: 100%;
    width: 20px;
}

.gradientStep {
    display: block;
    width: 100%;
}
